<kt-portlet>
		<kt-portlet-header [class]="'kt-portlet__head--lg'">
		  <ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">Events</h3>
		  </ng-container>
	  
		  <ng-container ktPortletTools>
			  <button mat-raised-button color="primary" (click)="add()"> Add New </button>
		  </ng-container>
		</kt-portlet-header>
	  
		<kt-portlet-body>
					<div class="kt-form__section kt-form__section--first">
							<mat-form-field>
									<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
								  </mat-form-field>

								  <mat-table #table1 [dataSource]="dataSource" matSort>
		
							<ng-container matColumnDef="name">
								<mat-header-cell *matHeaderCellDef  mat-sort-header> Event Name </mat-header-cell>
								<mat-cell *matCellDef="let event"> {{event.name}} </mat-cell>
							</ng-container>
		
							<ng-container matColumnDef="startDate">
								<mat-header-cell *matHeaderCellDef mat-sort-header>From </mat-header-cell>
								<mat-cell *matCellDef="let event"> {{event.startDate | date:'MMM d, yyyy'}} </mat-cell>
							</ng-container>

							<ng-container matColumnDef="endDate">
								<mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
								<mat-cell *matCellDef="let event"> {{event.endDate | date:'MMM d, yyyy'}} </mat-cell>
							</ng-container>

							<ng-container matColumnDef="boys">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Boys </mat-header-cell>
								<mat-cell *matCellDef="let event"> {{event.boys}} </mat-cell>
							</ng-container>

							<ng-container matColumnDef="girls">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Girls </mat-header-cell>
								<mat-cell *matCellDef="let event"> {{event.girls}} </mat-cell>
							</ng-container>

							<ng-container matColumnDef="fees">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Fees </mat-header-cell>
								<mat-cell *matCellDef="let event"> {{event.fees}} </mat-cell>
							</ng-container>
		
							<ng-container matColumnDef="actions">
								<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
								<mat-cell *matCellDef="let event">
									<button (click)="edit(event.id)" mat-icon-button color="primary" matTooltip="Edit">
										<mat-icon>create</mat-icon>
									</button>&nbsp;
									<button mat-icon-button color="warn" matTooltip="Delete" type="button" (click)="delete(event.id)">
										<mat-icon>delete</mat-icon>
									</button>
								</mat-cell>
							</ng-container>
			
							<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
						</mat-table>
						<mat-paginator #matPaginator [length]="resultsLength" [pageSize]="50" 
                [pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
  
            </div>
  
          </kt-portlet-body>
        </kt-portlet>
  