<div class="row">
  <div class="col-lg-12">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
          <div class="kt-portlet__head-title">
            <span class="kt-portlet__head-icon kt-hide">
              <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-text">
              Edit Camper
            </h3>
          </div>
        </div>
      </div>
      <div *ngFor="let item of items">
        <form class="kt-form kt-form--label-align-right" #f="ngForm">
          <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">

              <input type="hidden" id="id" [(ngModel)]="item.id" name="id">


              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">First Name:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" required [(ngModel)]="item.firstName" name="firstName">
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Middle Name:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Middle Name" required [(ngModel)]="item.middleName" name="middleName">
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Last Name:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" required [(ngModel)]="item.familyName" name="familyName">
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Team:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.team" placeholder="Team" name="team">
                      <mat-option *ngFor="let opt of teams" [value]="opt">{{ opt }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Gender:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.gender" placeholder="Gender" name="gender">
                      <mat-option *ngFor="let opt of genders" [value]="opt">{{ opt }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Birth Date:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="item.birthDate"
                      name="birthDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Email:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email Address" [(ngModel)]="item.email" name="email" type="email">
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Mobile:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mobile No" required [(ngModel)]="item.mobile" name="mobile">
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Address:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address" required [(ngModel)]="item.address" name="address">
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">School:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="School" required [(ngModel)]="item.school" name="school">
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Grade:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Grade" required [(ngModel)]="item.grade" name="grade">
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Guardian 1 relation:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.parent1_relation" placeholder="Guardian 1 relation"
                      name="parent1_relation" required>
                      <mat-option *ngFor="let relation of relations" [value]="relation">{{ relation }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Guardian 2 relation:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.parent2_relation" placeholder="Guardian 2 relation"
                      name="parent2_relation" required>
                      <mat-option *ngFor="let relation of relations" [value]="relation">{{ relation }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Country:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.IDType" placeholder="Country" name="IDType" required>
                      <mat-option *ngFor="let type of types" [value]="type.key">{{ type.value }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">National ID:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="National ID" required [(ngModel)]="item.nationalID" name="nationalID">

                  </mat-form-field>

                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Birth Certifcate:</label>
                <div class="col-lg-6">
                  <!-- <input [(ngModel)]="birthCertificate" type="file" name="birthCertificate" accept="image/*"><br> -->
                  <br>
                  <a href="{{ uploadsLink +'kids/'+item.birthCertificate}}" target="_blank">
                    <img src="{{ uploadsLink +'kids/'+item.birthCertificate}}" style="height:150px;"></a>
                </div>
              </div>


              <input type="hidden" [(ngModel)]="item.birthCertificate" name="birthCertificate">
              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Emergency Contact Number:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Emergency Contact Number" required
                      [(ngModel)]="item.emergeContactNumber" name="emergeContactNumber">
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Sport 1:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.sport1_id" placeholder="Sport 1" name="sport1_id" required>
                      <mat-option *ngFor="let sport of sportsitems" [value]="sport.id">{{ sport.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Sport 2:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.sport2_id" placeholder="Sport 2" name="sport2_id" required>
                      <mat-option *ngFor="let sport of sportsitems" [value]="sport.id">{{ sport.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Sport 3:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.sport3_id" placeholder="Sport 3" name="sport3_id" required>
                      <mat-option *ngFor="let sport of sportsitems" [value]="sport.id">{{ sport.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Sport 4:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.sport4_id" placeholder="Sport 4" name="sport4_id" required>
                      <mat-option *ngFor="let sport of sportsitems" [value]="sport.id">{{ sport.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>


              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Sport 5:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.sport5_id" placeholder="Sport 5" name="sport5_id" required>
                      <mat-option *ngFor="let sport of sportsitems" [value]="sport.id">{{ sport.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Medical Issues:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.medicalIssues" placeholder="Status" name="medicalIssues">
                      <mat-option *ngFor="let opt of options" [value]="opt">{{ opt }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Medical Issues" [(ngModel)]="item.medicalIssues_details"
                      name="medicalIssues_details"></textarea>
                  </mat-form-field>
                </div>
              </div>


              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Food Allergy:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.foodAllergy" placeholder="Status" name="foodAllergy">
                      <mat-option *ngFor="let opt of options" [value]="opt">{{ opt }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Food Allergy" [(ngModel)]="item.foodAllergy_details"
                      name="foodAllergy_details"></textarea>
                  </mat-form-field>
                </div>
              </div>


              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Ongoing Medication:</label>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="item.ongoingMedication" placeholder="Status" name="ongoingMedication">
                      <mat-option *ngFor="let opt of options" [value]="opt">{{ opt }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Ongoing Medication" [(ngModel)]="item.ongoingMedication_details"
                      name="ongoingMedication_details"></textarea>
                  </mat-form-field>
                </div>
              </div>


              <!-- <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">Profile Image:</label>
              <div class="col-lg-6">
                  <input type="file" accept="image/*" (change)="onProfileImage($event)"><br>
                  <a href="{{ uploadsLink +'kids/'+item.profileImage}}" target="_blank">
                    <img src="{{ uploadsLink +'kids/'+item.profileImage}}" style="height:150px;"></a>
              </div>
            </div> -->

            </div>

            <div class="kt-form__seperator kt-form__seperator--dashed"></div>
          </div>
          <div class="kt-portlet__foot">
            <div class="kt-form__actions kt-form__actions">
              <div class="row">
                <div class="col-lg-6">
                  <button mat-raised-button color="primary" type="submit" (click)="f.form.valid && onSubmit(f)"
                    [disabled]="f.form.invalid">Save Data</button>&nbsp;
                  <button mat-raised-button (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>