<div class="row">
  <div class="col-lg-12">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
          <div class="kt-portlet__head-title">
            <span class="kt-portlet__head-icon kt-hide">
              <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-text">
              Edit Guardian Data
            </h3>
          </div>
        </div>
      </div>

      <form class="kt-form kt-form--label-align-right" #d="ngForm" (submit)="d.form.valid && onSubmit(d)">
        <div class="kt-portlet__body">
          <div class="kt-form__section kt-form__section--first">

            <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">First Name:</label>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName" required>
                </mat-form-field>
              </div>

              <label class="col-lg-2 col-form-label">Middle Name:</label>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Middle Name" [(ngModel)]="middleName" name="middleName" required>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">Family Name:</label>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Family Name" [(ngModel)]="familyName" name="familyName" required>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">Gender:</label>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <mat-select [(ngModel)]="gender" placeholder="Gender Type" name="gender" required>
                    <mat-option *ngFor="let opt of genders" [value]="opt.key">{{ opt.value }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>

            <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">Email:</label>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email Address" required [(ngModel)]="email" type="email" name="email">
                </mat-form-field>
              </div>

              <label class="col-lg-2 col-form-label">Mobile No:</label>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Mobile No." required [(ngModel)]="mobile" name="mobile">
                </mat-form-field>
              </div>
            </div>

            <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">Birth Date:</label>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="bd" required placeholder="Choose a date" [(ngModel)]="birthDate"
                    name="birthDate">
                  <mat-datepicker-toggle matSuffix [for]="bd"></mat-datepicker-toggle>
                  <mat-datepicker #bd></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">ID Type:</label>
              <div class="col-lg-4">
                <mat-form-field>
                  <mat-select [(ngModel)]="IDType" placeholder="ID Type" name="IDType">
                    <mat-option *ngFor="let opt of options" [value]="opt.key">{{ opt.value }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <label class="col-lg-2 col-form-label">ID Number:</label>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="ID Number" [(ngModel)]="IDNumber" name="IDNumber">
                </mat-form-field>
              </div>
            </div>

            <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">Job:</label>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Job" required [(ngModel)]="job" name="job">
                </mat-form-field>
              </div>

              <label class="col-lg-2 col-form-label">Employer:</label>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Employer" required [(ngModel)]="employer" name="employer">
                </mat-form-field>
              </div>
            </div>


            <!-- <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">Profile Image:</label>
              <div class="col-lg-6">
                <input [(ngModel)]="profileImage" type="file" name="profileImage">
              </div>
            </div> -->
            <!--   
              <br>
              <h3 class="kt-portlet__head-text">
                Security
              </h3><hr>
              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Password:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="password" type="password" required [(ngModel)] = "password" name="password">
                  </mat-form-field>
                </div>
              </div>
  
              <div class="form-group kt-form__group row">
                  <label class="col-lg-2 col-form-label">Password Confirmation:</label>
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Password" required [(ngModel)]="password_confirm" name="password_confirm" type="password">
                    </mat-form-field>
                  </div>
                </div> -->

          </div>

          <div class="kt-form__seperator kt-form__seperator--dashed"></div>
        </div>
        <div class="kt-portlet__foot">
          <div class="kt-form__actions kt-form__actions">
            <div class="row">
              <div class="col-lg-6">
                <button mat-raised-button color="primary" type="submit" [disabled]="d.form.invalid">Save
                  Data</button>&nbsp;
                <button mat-raised-button (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>