    
<div *ngFor="let item of items">
    <mat-card>
    <mat-tab-group class="tab-group">
        <mat-tab label="Guardian">
            <div class="tab-content">

    <div class="row">
      <div class="col-lg-12">
          <kt-portlet>
              <kt-portlet-header [class]="'kt-portlet__head--lg'">
                <ng-container ktPortletTitle>
                <h3 class="kt-portlet__head-title">View guardian data</h3>
                </ng-container>
                <ng-container ktPortletTools>
                    <button mat-raised-button (click)="cancel()">Back</button>&nbsp;&nbsp;
                  <button mat-raised-button color="primary" (click)="edit(item.id)"> Edit </button>
                </ng-container>
              </kt-portlet-header>
              
              <kt-portlet-body>
              <div class="kt-form__section kt-form__section--first">

<div class="row">
  <!-- <div class="col-lg-4">
      <img src="./assets/media/users/guardian.png" style="max-height:250px">
  </div> -->
  <div class="col-lg-8">

                <div class="row">
                  <label class="col-lg-2">Name:</label>
                  <div class="col-lg-10">{{ item.firstName }} {{ item.middleName }} {{item.familyName}}</div>
                </div>
    
                  <div class="row">
                        <label class="col-lg-2">Gender:</label>
                        <div class="col-lg-4">{{item.gender}}</div>
                </div>

                <div class="row">
                  <label class="col-lg-2">Email:</label>
                  <div class="col-lg-4">{{item.email}}</div>
                </div>
    
                <div class="row">
                  <label class="col-lg-2">Mobile No:</label>
                  <div class="col-lg-4">{{item.mobile}}</div>
                </div>
    
                 <div class="row">
                  <label class="col-lg-2">Birth Date:</label>
                  <div class="col-lg-4">{{item.birthDate | date}}
                  </div>
                </div> 
    
                <div class="row">
                  <label class="col-lg-2">ID Type:</label>
                  <div class="col-lg-4">{{item.IDType}}</div>
                </div>
    
                <div class="row">
                  <label class="col-lg-2">ID Number:</label>
                  <div class="col-lg-4">{{item.IDNumber}}</div>
                </div>
                
                <div class="row">
                  <label class="col-lg-2">Job:</label>
                  <div class="col-lg-4">{{item.job}}</div>
                </div>
    
                <div class="row">
                  <label class="col-lg-2">Employer:</label>
                  <div class="col-lg-4">{{item.employer}}</div>
                </div>

              </div>
            </div>
    
              </div>
    
              <div class="kt-form__seperator kt-form__seperator--dashed"></div>

            </kt-portlet-body>
          </kt-portlet>
      </div>
    </div>

	</div>
</mat-tab>

<!-- Other guardians -->
  
  <mat-tab label="Other Guardian">
      <div class="tab-content">

<kt-portlet *ngFor="let guard of guardians">
  <kt-portlet-header [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTitle>
    <h3 class="kt-portlet__head-title">Other Guardian</h3>
    </ng-container>
    <ng-container ktPortletTools>
      <!-- <button mat-raised-button color="primary" *ngIf="!guardians" (click)="add_guard(item.id)"> Add Guardian </button> -->

        <button mat-icon-button color="primary" matTooltip="Edit" (click)="edit_guard(guard.id)">
            <mat-icon>create</mat-icon> Edit
          </button>

    </ng-container>
  </kt-portlet-header>
  
  <kt-portlet-body>

          <div class="kt-form__section kt-form__section--first">

              <div class="row">
                  <!-- <div class="col-lg-4">
                      <img src="./assets/media/users/guardian.png" style="max-height:250px">
                  </div> -->
                  <div class="col-lg-8">
                
                                <div class="row">
                                  <label class="col-lg-2">Name:</label>
                                  <div class="col-lg-10">{{ guard.firstName }} {{ guard.middleName }} {{guard.familyName}}</div>
                                </div>
                
                                <div class="row">
                                  <label class="col-lg-2">Email:</label>
                                  <div class="col-lg-4">{{guard.email}}</div>
                                </div>
                    
                                <div class="row">
                                  <label class="col-lg-2">Mobile No:</label>
                                  <div class="col-lg-4">{{guard.mobile}}</div>
                                </div>
                  
                
                              </div>
                            </div>

          </div>
        </kt-portlet-body>
      </kt-portlet>
    </div>
  </mat-tab>

<!--  Kids -->

<mat-tab label="Campers">
		<div class="tab-content">

<kt-portlet>
    <kt-portlet-header [class]="'kt-portlet__head--lg'">
      <ng-container ktPortletTitle>
      <h3 class="kt-portlet__head-title">Campers</h3>
      </ng-container>
      <ng-container ktPortletTools>
        <button mat-raised-button color="primary" (click)="add_kid(item.id)"> Add Camper </button>
      </ng-container>
    </kt-portlet-header>
    
    <kt-portlet-body>
            <div class="kt-form__section kt-form__section--first">
  
              <table class="table table-hover">
                <thead>
                 <tr>
                   <th>Name</th>
                   <th>Gender</th>
                   <th>Birthdate</th>
                   <th>Mob</th>
                   <th>Email</th>
                   <th>Action</th>
                 </tr>
                </thead>
                  <tbody>
                    <tr *ngFor="let kid of kids">
                      <td>{{ kid.firstName }} {{ kid.middleName }} {{ kid.familyName }}</td>
                      <td>{{kid.gender}}</td>
                      <td>{{kid.birthDate}}</td>
                      <td>{{kid.mobile}}</td>
                      <td>{{kid.email}}</td>
                      <td>					
                        <button mat-icon-button color="primary" matTooltip="View" type="button" (click)="view_kid(kid.id)">
                          <mat-icon>launch</mat-icon>
                        </button>
  
                        <button mat-icon-button color="primary" matTooltip="Edit" (click)="edit_kid(kid.id)">
                            <mat-icon>create</mat-icon>
                          </button>
  
                          <button mat-icon-button color="warn" matTooltip="Delete" type="button" (click)="delete_kid(kid.id)">
                              <mat-icon>delete</mat-icon>
                            </button>
                      </td>
                    </tr>
                  </tbody>
              </table>
  
            </div>
          </kt-portlet-body>
        </kt-portlet>

      </div>
    </mat-tab>
    <mat-tab label="Events Attended">
        <div class="tab-content">

            <table class="table table-hover">
                <thead>
                 <tr>
                   <th>Camper</th>
                   <th>Camp</th>
                   <th>Camp Type</th>
                   <th>Date</th>
                   <th>Team</th>
                   <th>SubTeam</th>
                   <th>T-Shirt</th>
                 </tr>
                </thead>
                  <tbody>
                     <tr *ngFor="let camp of camps">
                      <td>{{ camp.firstName }} {{ camp.middleName }} {{ camp.familyName }}</td>
                      <td>{{camp.event_name}}</td>
                      <td>{{camp.type}}</td>
                      <td>{{camp.startDate}}</td>
                      <td>{{camp.team}}</td>
                      <td>{{camp.subteam}}</td>
                      <td>{{camp.tshirt}}</td>
                    </tr> 
                  </tbody>
              </table>
  
  
  </div>
</mat-tab>

<mat-tab label="Discounts ">
    <div class="tab-content">
			<form class="kt-form kt-form--label-align-right"  #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f,item.id)">
      
        <div class="form-group kt-form__group row">
            <label class="col-lg-2 col-form-label">Discount Value:</label>
            <div class="col-lg-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Discount Value" required  type="number" [(ngModel)]="discount" name="discount">
              </mat-form-field>
            </div>
          </div>
    
            <div class="form-group kt-form__group row">
            <label class="col-lg-2 col-form-label">Promo Code:</label>
            <div class="col-lg-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Designs" required [(ngModel)]="designs" name="promocode">
              </mat-form-field>
            </div>
        </div>

        <div class="form-group kt-form__group row">
            <label class="col-lg-2 col-form-label">Reason:</label>
            <div class="col-lg-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Reason" required [(ngModel)]="reason" name="couponReson">
              </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <button mat-raised-button color="primary" type="submit"  [disabled]="f.form.invalid">Append</button>&nbsp;
                <button mat-raised-button (click)="cancel()">Cancel</button>
            </div>
          </div>

      </form>
</div>
</mat-tab>

<mat-tab label="Comments">
    <div class="tab-content">
      <form class="kt-form kt-form--label-align-right" #d = "ngForm"  (submit)="saveComment(d)">
        <div class="form-group kt-form__group row" *ngFor="let g of guardian">
            <div class="col-lg-10">
            <label class="col-form-label">Comments:</label>
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Comments" [(ngModel)]="g.comments" name="comments"></textarea>
              </mat-form-field>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
              <button mat-raised-button color="primary" type="submit"  [disabled]="d.form.invalid">Save Data</button>&nbsp;
            <button mat-raised-button (click)="cancel()">Cancel</button>
          </div>
        </div>
      </form>
</div>
</mat-tab>

</mat-tab-group>
</mat-card>
      </div>