
<!--
    (fileUploadRequest)="onFileUploadRequest($event)"
    (fileUploadResponse)="onFileUploadResponse($event)"
-->
<div class="row">
    <div class="col-lg-12">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
              <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="kt-portlet__head-text">
                Edit Gallery
              </h3>
            </div>
          </div>
        </div>
        
        <form class="kt-form kt-form--label-align-right"  #f = "ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
            <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label" style="text-align: left !important;">Gallery Name:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Gallery Name" [(ngModel)]="galleryTitle" name="galleryTitle" required>
                  </mat-form-field>
                </div>
              </div>
                  
                 <div class="form-group kt-form__group row">
                     <div  class="col-lg-8">
                         <div class="row">
                <label class="col-lg-3 col-form-label" style="text-align: left !important;">Gallery Cover:</label>
                <div class="col-lg-6">
                  
                    <input  type="file" (change)="onSelectFile($event.target.files)" accept='image/*' name="image" required>
               </div>
                </div>
              </div>
                     <div>
                     <img [src]="url" id="image" style="width: 200px;
    height: 200px;">
                     </div>
             </div>

                
                
                    <h6 style="    padding-left: 10px;
    margin-top: 15px;">Gallery Images</h6>
                 <div style="margin-bottom:20px;">
                   <div class="uploadImages" (click)="galleryimages.click()" >
                       <input type="file" #galleryimages hidden="hidden" multiple (change)="galleryImagesChange($event)">
                     <span>Upload</span>
                     </div>
                     <div #uploadImages class="uploadedImages">
                         <span class="imageUploaded hovertodelete" *ngFor="let image of imagesForShow;index as i">
                             <span class="removeicon" (click)="removeImage(image.id,i)">x</span>
                           <img [src]="image.image"  style="width:100%;height: 100%;">
                         </span>
                      
                     </div>
                     
   
                 </div>
                
                 <ngb-progressbar type="danger" [value]="increasevals"  height="7px" *ngIf="showProgress"></ngb-progressbar>
            </div>
  
            <div class="kt-form__seperator kt-form__seperator--dashed"></div>
          </div>
          <div class="kt-portlet__foot">
            <div class="kt-form__actions kt-form__actions">
              <div class="row">
                <div class="col-lg-6">
                    <button mat-raised-button color="primary" type="submit"  [disabled]="f.form.invalid || showProgress">Save Data</button>&nbsp;
                  <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  