<kt-portlet>
		<kt-portlet-header [class]="'kt-portlet__head--lg'">
		  <ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">Guardians</h3>
		  </ng-container>
		  <ng-container ktPortletTools>
				<!-- <button mat-raised-button color="primary" (click)="add()"> Add New </button> -->
			</ng-container>
		</kt-portlet-header>
	  
		
		<kt-portlet-body>
	<div class="kt-form__section kt-form__section--first">
			<mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
			</mat-form-field>

			<div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20" [ngClass]="{'show' : selection.selected.length > 0}">
					<div class="col-xl-12">
						<div class="kt-form__group kt-form__group--inline">
							<div class="kt-form__label kt-form__label-no-wrap">
								<label class="kt--font-bold kt-font-danger-">Selected records count: {{ selection.selected.length }}</label>
							</div>
							<div class="kt-form__control kt-form__group--inline">
								<button mat-raised-button color="accent" (click)="send()" matTooltip="Send selected notifications"  class="mat-button-mt-4">
									<mat-icon>email</mat-icon>
									Send Email
								</button>&nbsp;
								<button mat-raised-button color="accent" (click)="send()" matTooltip="Send selected SMS"  class="mat-button-mt-4">
										<mat-icon>textsms</mat-icon>
										Send SMS
									  </button>&nbsp;
							</div>
						</div>
					</div>
				</div>

			<mat-table #table1 [dataSource]="dataSource" matSort>

			<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="selection.hasValue() && !isAllSelected()"
							[color]="'primary'">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row) : null"
							[checked]="selection.isSelected(row)"
							[color]="'primary'">
						</mat-checkbox>
					</mat-cell>
				</ng-container>

			<ng-container matColumnDef="firstName">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
				<mat-cell *matCellDef="let item"> {{item.firstName}} {{item.middleName}} {{item.familyName}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="email">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
				<mat-cell *matCellDef="let item"> {{item.email}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="mobile">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
				<mat-cell *matCellDef="let item"> {{item.mobile}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="job">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Job </mat-header-cell>
				<mat-cell *matCellDef="let item"> {{item.job}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="actions">
				<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
				<mat-cell *matCellDef="let item">
					<button mat-icon-button color="primary" matTooltip="View" type="button" (click)="view(item.id)">
						<mat-icon>launch</mat-icon>
					</button>
					<button (click)="edit(item.id)" mat-icon-button color="primary" matTooltip="Edit">
						<mat-icon>create</mat-icon>
					</button>
					<button mat-icon-button color="warn" matTooltip="Delete" type="button" (click)="delete(item.id)">
						<mat-icon>delete</mat-icon>
					</button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
		</mat-table>
		<mat-paginator #matPaginator [length]="resultsLength" [pageSize]="50" 
			[pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>

</div>

</kt-portlet-body>
</kt-portlet>
