<kt-portlet>
    <kt-portlet-header [class]="'kt-portlet__head--lg'">
      <ng-container ktPortletTitle>
        <h3 class="kt-portlet__head-title">Campers</h3>
      </ng-container>
      <ng-container ktPortletTools>
          <!-- <button mat-raised-button color="primary" (click)="add()"> Add New </button> -->
        </ng-container>
    </kt-portlet-header>
  
    <kt-portlet-body>
            <div class="kt-form__section kt-form__section--first">
                <!-- Filteration start -->
                <div class="row align-items-center">

                      <!-- <div class="col-md-2 kt-margin-bottom-10-mobile">
                          <div class="kt-form__control">
                            <mat-form-field>
                                  <mat-select placeholder="Gender Filter" (selectionChange)="applyFilter($event.value)" class="mat-form-field mat-form-field-fluid">
                                    <mat-option *ngFor="let opt of genderOptions" [value]="opt.value">{{ opt.value }}</mat-option>
                                  </mat-select>
    
                                  <mat-hint align="start">
                                    <strong>Filter by gender</strong>
                                  </mat-hint>
                            </mat-form-field>
                          </div>  
                        </div> -->

                    <div class="col-md-2 kt-margin-bottom-10-mobile">
                      <div class="kt-form__control">
                        <mat-form-field>
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                        </mat-form-field>
                      </div>  
                    </div>
              </div>
              <!-- //Filteration End -->

              <mat-table #table1 [dataSource]="dataSource" matSort>
      
                <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Camper Name </mat-header-cell>
                    <mat-cell *matCellDef="let item"> 
                          {{item.firstName}} {{item.middleName}} {{item.familyName}}
                     </mat-cell>
                  </ng-container>
      
                <ng-container matColumnDef="gender">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{item.gender}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="grade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Grade </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.grade}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="mobile">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{item.mobile}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="nationalID">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> National ID </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{item.nationalID}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="team">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Team</mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.team}} </mat-cell>
                  </ng-container>

                <ng-container matColumnDef="guardian">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Guardian</mat-header-cell>
                    <mat-cell *matCellDef="let item"> 
                        <button mat-raised-button color="primary" (click)="view_guard(item.familyID)"> Guardian </button>

                      </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="booking">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Booking</mat-header-cell>
                    <mat-cell *matCellDef="let item"> 
                        <button mat-raised-button color="primary" (click)="add_booking(item.id)"> Add </button>
                      </mat-cell>
                  </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                  <mat-cell *matCellDef="let item">
                      <button mat-icon-button color="primary" matTooltip="View" type="button" (click)="view(item.id)">
                          <mat-icon>launch</mat-icon>
                        </button>
                        
                    <button (click)="edit(item.id)" mat-icon-button color="primary" matTooltip="Edit">
                      <mat-icon>create</mat-icon>
                    </button>&nbsp;
                    <button mat-icon-button color="warn" matTooltip="Delete" type="button" (click)="delete(item.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    
                   
                  </mat-cell>
                </ng-container>
        
                <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
              </mat-table>
  						<mat-paginator #matPaginator [length]="resultsLength" [pageSize]="50" 
                [pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
  
            </div>
  
          </kt-portlet-body>
        </kt-portlet>
  