<kt-portlet>
		<kt-portlet-header [class]="'kt-portlet__head--lg'">
		  <ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">Events Reports</h3>
		  </ng-container>
		</kt-portlet-header>
	  
		<kt-portlet-body>
					<div class="kt-form__section kt-form__section--first">
							<mat-form-field>
									<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
								  </mat-form-field>

						<mat-table #table1 [dataSource]="dataSource" matSort>
		
							<ng-container matColumnDef="name">
								<mat-header-cell *matHeaderCellDef  mat-sort-header> Event Name </mat-header-cell>
								<mat-cell *matCellDef="let event"> {{event.name}} </mat-cell>
							</ng-container>
		
							<ng-container matColumnDef="startDate">
								<mat-header-cell *matHeaderCellDef mat-sort-header>From </mat-header-cell>
								<mat-cell *matCellDef="let event"> {{event.startDate | date}} </mat-cell>
							</ng-container>

							<ng-container matColumnDef="endDate">
								<mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
								<mat-cell *matCellDef="let event"> {{event.endDate | date}} </mat-cell>
							</ng-container>

							<ng-container matColumnDef="boys">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Boys </mat-header-cell>
								<mat-cell *matCellDef="let event"> 
										<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
												{{event.boys}} 
											</span>
										</mat-cell>
							</ng-container>

							<ng-container matColumnDef="girls">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Girls </mat-header-cell>
								<mat-cell *matCellDef="let event"> 
										<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
												{{event.girls}} 
												</span>
											</mat-cell>
							</ng-container>

							<ng-container matColumnDef="fees">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Fees </mat-header-cell>
								<mat-cell *matCellDef="let event"> {{event.fees}} </mat-cell>
							</ng-container>
    
              <ng-container matColumnDef="total_alpha">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Alpha </mat-header-cell>
                  <mat-cell *matCellDef="let event"> {{event.total_alpha}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total_omega">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Omega </mat-header-cell>
                    <mat-cell *matCellDef="let event"> {{event.total_omega}} </mat-cell>
                  </ng-container>
			
							<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
						</mat-table>
						<mat-paginator #matPaginator [length]="resultsLength" [pageSize]="25" 
                [pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
  
            </div>
  
          </kt-portlet-body>
        </kt-portlet>
  