<kt-portlet>
    <kt-portlet-header [class]="'kt-portlet__head--lg'">
		  <ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">Teams Report</h3>
		  </ng-container>
          <ng-container ktPortletTitle>&nbsp;
          <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--primary kt-badge--wide">
            Alpha
        </span>
        &nbsp; | &nbsp;
        <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide">
            Omega
        </span>
    </ng-container>
    </kt-portlet-header>

<kt-portlet-body>
            <div class="kt-form__section kt-form__section--first">
                <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>

                    <mat-table #table1 [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Event Name </mat-header-cell>
                        <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="teams">
                        <mat-header-cell *matHeaderCellDef>Teams </mat-header-cell>
                        <mat-cell *matCellDef="let item"> 
                            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--primary kt-badge--wide">
                            {{ item.alpha }}
                            </span>
                            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide">
                            {{ item.omega }}
                            </span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="sub1">
                        <mat-header-cell *matHeaderCellDef> Sub 1 </mat-header-cell>
        <mat-cell *matCellDef="let item"> 
            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--primary kt-badge--wide">
                {{ item.alpha_sub1 }}
            </span><br>
            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide">
                {{ item.omega_sub1 }}
            </span>
        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="sub2">
                        <mat-header-cell *matHeaderCellDef> Sub 2 </mat-header-cell>
        <mat-cell *matCellDef="let item"> 
            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--primary kt-badge--wide">
                {{ item.alpha_sub2 }}
            </span><br>
            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide">
                {{ item.omega_sub2 }}
            </span>
        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="sub3">
                        <mat-header-cell *matHeaderCellDef> Sub 3 </mat-header-cell>
        <mat-cell *matCellDef="let item"> 
            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--primary kt-badge--wide">
                {{ item.alpha_sub3 }}
            </span><br>
            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide">
                {{ item.omega_sub3 }}
            </span>
        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="sub4">
                        <mat-header-cell *matHeaderCellDef> Sub 4 </mat-header-cell>
        <mat-cell *matCellDef="let item"> 
            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--primary kt-badge--wide">
                {{ item.alpha_sub4 }}
            </span><br>
            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide">
                {{ item.omega_sub4 }}
            </span>
        </mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="sub5">
            <mat-header-cell *matHeaderCellDef> Sub 5 </mat-header-cell>
            <mat-cell *matCellDef="let item"> 
                <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--primary kt-badge--wide">
                    {{ item.alpha_sub5 }}
                </span><br>
                <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide">
                    {{ item.omega_sub5 }}
                </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sub6">
            <mat-header-cell *matHeaderCellDef> Sub 6 </mat-header-cell>
            <mat-cell *matCellDef="let item"> 
                <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--primary kt-badge--wide">
                    {{ item.alpha_sub6 }}
                </span><br>
                <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide">
                    {{ item.omega_sub6 }}
                </span>
            </mat-cell>
        </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
                        <mat-cell *matCellDef="let item">
                            <button (click)="details(item.event_id)" mat-icon-button color="primary" matTooltip="Details">
                                <mat-icon>list</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
    
                    <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
                </mat-table>
                <mat-paginator #matPaginator [length]="resultsLength" [pageSize]="25" 
        [pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
    </div>

    </kt-portlet-body>
</kt-portlet>