<div class="row">
  <div class="col-lg-12">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
          <div class="kt-portlet__head-title">
            <span class="kt-portlet__head-icon kt-hide">
              <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-text">
              Edit Application
            </h3>
          </div>
        </div>
      </div>
      <div *ngIf="items">
        <div *ngFor="let item of items">
          <form class="kt-form kt-form--label-align-right" #f="ngForm" (submit)="f.form.valid && onSubmit(f)">
            <div class="kt-portlet__body">
              <div class="kt-form__section kt-form__section--first">

                <input type="hidden" [(ngModel)]="item.id" name="id">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Camper Name:</label>
                      <div class="col-lg-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Kid Name" *ngIf="item.firstName != null"
                            value="{{item.firstName}} {{item.middleName}} {{item.familyName}}" name="firstName"
                            readonly>
                          <input matInput placeholder="Kid Name" *ngIf="item.firstName == null"
                            value="{{item.g_firstName}} {{item.g_middleName}} {{item.g_familyName}}" name="firstName"
                            readonly>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">

                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Event Name:</label>
                      <div class="col-lg-6">
                        <mat-form-field class="example-full-width">
                          <mat-select [(ngModel)]="item.event_id" placeholder="Event Name" name="event_id">
                            <mat-option *ngFor="let event of events" [value]="event.id">{{ event.name }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Payment Amount:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput placeholder="Payment Amount" [(ngModel)]="item.paymentAmount"
                            name="paymentAmount" type="text" [disabled]="true">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Transaction ID:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput placeholder="Transaction ID" [(ngModel)]="item.transactionID"
                            [disabled]="true" name="Transaction" type="text">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">T-Shirt:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <mat-select [(ngModel)]="item.tshirt" placeholder="T-Shirt" name="tshirt">
                            <mat-option *ngFor="let tshirt of tshirts" [value]="tshirt.id">{{ tshirt.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Cabin:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput placeholder="Cabin" [(ngModel)]="item.cabin" name="cabin" type="number">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Room No.:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput placeholder="Room No." [(ngModel)]="item.room_no" name="room_no"
                            type="number">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Team:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <mat-select [(ngModel)]="item.team" placeholder="Team" name="team">
                            <mat-option *ngFor="let team of teams" [value]="team">{{ team }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                  </div>
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Subteam:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput placeholder="Subteam" [(ngModel)]="item.subteam" name="subteam" type="number">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Meeting Point:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <mat-select [(ngModel)]="item.meetingpoint_id" placeholder="Meeting Point"
                            name="meetingpoint_id">
                            <mat-option *ngFor="let opt of points" [value]="opt.id">{{ opt.point }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">First Sport:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <mat-select [(ngModel)]="item.sport1_id" placeholder="First Sport" name="first_sport">
                            <mat-option *ngFor="let sport of sports" [value]="sport.id">{{ sport.name }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Second Sport:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <mat-select [(ngModel)]="item.sport2_id" placeholder="Second Sport" name="second_sport">
                            <mat-option *ngFor="let sport of sports" [value]="sport.id">{{ sport.name }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">

                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Third Sport:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <mat-select [(ngModel)]="item.sport3_id" placeholder="Third Sport" name="third_sport">
                            <mat-option *ngFor="let sport of sports" [value]="sport.id">{{ sport.name }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Payment Availability:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <mat-select [(ngModel)]="item.paymentAvailability" placeholder="Payment Availability"
                            name="paymentAvailability">
                            <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                  </div>
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Payment Status:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <mat-select [(ngModel)]="item.paymentStatus" placeholder="Payment Status"
                            name="paymentStatus">
                            <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Payment Method:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <mat-select [(ngModel)]="item.paymentMethod" placeholder="Payment Method"
                            name="paymentMethod">
                            <mat-option *ngFor="let method of methods" [value]="method">{{ method }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group kt-form__group row">
                      <label class="col-lg-3 col-form-label">Approval:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <mat-select [(ngModel)]="item.approval" placeholder="Approval" name="approval">
                            <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <!--
                   <div class="row">
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6"></div>
                </div>
-->









              </div>

              <div class="kt-form__seperator kt-form__seperator--dashed"></div>
            </div>
            <div class="kt-portlet__foot">
              <div class="kt-form__actions kt-form__actions">
                <div class="row">
                  <div class="col-lg-6">
                    <button mat-raised-button color="primary" type="submit" [disabled]="f.form.invalid">Save
                      Data</button>&nbsp;
                    <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>