<div class="row">
	<div class="col-lg-12">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-caption">
					<div class="kt-portlet__head-title">
						<span class="kt-portlet__head-icon kt-hide">
							<i class="la la-gear"></i>
						</span>
						<h3 class="kt-portlet__head-text">
							Edit event
						</h3>
					</div>
				</div>
			</div>
			<div *ngFor="let event of events">			
			<form class="kt-form kt-form--label-align-right"  #f = "ngForm" (submit)="f.form.valid && onSubmit(f)">
				<div class="kt-portlet__body">
					<div class="kt-form__section kt-form__section--first">

						<div class="form-group kt-form__group row">
							<label class="col-lg-2 col-form-label">Event Name:</label>
							<div class="col-lg-4">
								<mat-form-field class="example-full-width">
									<input matInput placeholder="Event name" required [(ngModel)]="event.name" name="name">
								</mat-form-field>
							</div>
							</div>

				<div class="form-group kt-form__group row">
						<label class="col-lg-2 col-form-label">Event Location:</label>
						<div class="col-lg-4">
							<mat-form-field class="example-full-width">
								<input matInput placeholder="Event Location" required [(ngModel)]="event.location" name="location">
							</mat-form-field>
						</div>
					</div>

						<div class="form-group kt-form__group row">
							<label class="col-lg-2 col-form-label">Description:</label>
							<div class="col-lg-6">
								<mat-form-field class="example-full-width">
									<input matInput placeholder="Description" required [(ngModel)]="event.description" name="description">
								</mat-form-field>
							</div>
						</div>

						<div class="form-group kt-form__group row">
							<label class="col-lg-2 col-form-label">Event From:</label>
							<div class="col-lg-4">
								<mat-form-field class="example-full-width">
									<input matInput [matDatepicker]="picker" required placeholder="Choose a date" 
									[(ngModel)]="event.startDate" 
									name="startDate">
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker #picker></mat-datepicker>
								</mat-form-field>
							</div>

							<label class="col-lg-2 col-form-label">Event To:</label>
							<div class="col-lg-4">
								<mat-form-field class="example-full-width">
									<input matInput [matDatepicker]="db2" required placeholder="Choose a date" [(ngModel)]="event.endDate" name="endDate">
									<mat-datepicker-toggle matSuffix [for]="db2"></mat-datepicker-toggle>
									<mat-datepicker #db2></mat-datepicker>
								</mat-form-field>
							</div>
						</div> 

						<div class="form-group kt-form__group row">
							<label class="col-lg-2 col-form-label">Publish Date:</label>
							<div class="col-lg-4">
								<mat-form-field class="example-full-width">
									<input matInput [matDatepicker]="db3" required placeholder="Choose a date" [(ngModel)]="event.publishDate" name="publishDate">
									<mat-datepicker-toggle matSuffix [for]="db3"></mat-datepicker-toggle>
									<mat-datepicker #db3 ></mat-datepicker>
								</mat-form-field>
							</div>

							<label class="col-lg-2 col-form-label">Opening Date:</label>
							<div class="col-lg-4">
								<mat-form-field class="example-full-width">
									<input matInput [matDatepicker]="db4" required placeholder="Choose a date" [(ngModel)]="event.openingDate" name="openingDate">
									<mat-datepicker-toggle matSuffix [for]="db4"></mat-datepicker-toggle>
									<mat-datepicker #db4></mat-datepicker>
								</mat-form-field>
							</div>
						</div>

						<div class="form-group kt-form__group row">
							<label class="col-lg-2 col-form-label">Closing Date:</label>
							<div class="col-lg-4">
								<mat-form-field class="example-full-width">
									<input matInput [matDatepicker]="db5" required placeholder="Choose a date" [(ngModel)]="event.closingDate" name="closingDate" >
									<mat-datepicker-toggle matSuffix [for]="db5"></mat-datepicker-toggle>
									<mat-datepicker #db5></mat-datepicker>
								</mat-form-field>
							</div>
						</div>

						<div class="form-group kt-form__group row">
								<label class="col-lg-2 col-form-label">Male Cabins:</label>
								<div class="col-lg-4">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Male Cabins" required type="number" [(ngModel)]="event.MaleCabins" name="MaleCabins">
									</mat-form-field>
								</div>

								<label class="col-lg-2 col-form-label">Female Cabins:</label>
								<div class="col-lg-4">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Female Cabins" required type="number" [(ngModel)]="event.FemaleCabins" name="FemaleCabins">
									</mat-form-field>
								</div>
							</div>

              <div class="form-group kt-form__group row">
								<label class="col-lg-2 col-form-label">Cabins Beds:</label>
								<div class="col-lg-4">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Cabins Beds" required type="number" [(ngModel)]="event.cabinBeds" name="cabinBeds">
									</mat-form-field>
								</div>

								<label class="col-lg-2 col-form-label">Hotel Rooms:</label>
								<div class="col-lg-4">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Hotel Rooms" required type="number" [(ngModel)]="event.hotelRooms" name="hotelRooms">
									</mat-form-field>
								</div>
              </div>
              
              <div class="form-group kt-form__group row">
								<label class="col-lg-2 col-form-label">Hotel Beds:</label>
								<div class="col-lg-4">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Hotel Beds" required type="number" [(ngModel)]="event.hotelBeds" name="hotelBeds">
									</mat-form-field>
								</div>
							</div>

						<div class="form-group kt-form__group row">
							<label class="col-lg-2 col-form-label">Guardian Fees:</label>
							<div class="col-lg-4">
								<mat-form-field class="example-full-width">
									<input matInput placeholder="Guardian Fees" required type="number" [(ngModel)]="event.guardianFees" name="guardianFees">
								</mat-form-field>
							</div>
						</div>

						<div class="form-group kt-form__group row">
							<label class="col-lg-2 col-form-label">Child less 6 years Fees:</label>
							<div class="col-lg-4">
								<mat-form-field class="example-full-width">
									<input matInput placeholder="less 6 years child Fees" required type="number" [(ngModel)]="event.child3Fees" name="child3Fees">
								</mat-form-field>
							</div>
            </div>
            
            <div class="form-group kt-form__group row">
							<label class="col-lg-2 col-form-label">Child more 6 years Fees:</label>
							<div class="col-lg-4">
								<mat-form-field class="example-full-width">
									<input matInput placeholder="Child more 6 years Fees" required type="number" [(ngModel)]="event.child6Fees" name="child6Fees">
								</mat-form-field>
							</div>
            </div>
            
            <div class="form-group kt-form__group row">
							<label class="col-lg-2 col-form-label">Bus Fees:</label>
							<div class="col-lg-4">
								<mat-form-field class="example-full-width">
									<input matInput placeholder="Bus Fees" required type="number" [(ngModel)]="event.busFees" name="busFees">
								</mat-form-field>
							</div>
						</div>


					</div>

					<div class="kt-form__seperator kt-form__seperator--dashed"></div>
				</div>
				<div class="kt-portlet__foot">
					<div class="kt-form__actions kt-form__actions">
						<div class="row">
							<div class="col-lg-6">
									<button mat-raised-button color="primary" type="submit"  [disabled]="f.form.invalid">Save Data</button>&nbsp;
									<button mat-raised-button (click)="cancel()">Cancel</button>
							</div>
						</div>
					</div>
				</div>
      </form>
      </div>
		</div>
	</div>
</div>
