<kt-portlet>
  <kt-portlet-header [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTitle>
      <h3 class="kt-portlet__head-title">Applications list</h3>
      <button mat-raised-button color="primary" type="button" (click)="Reset()"
        style="float: right;margin-left: 79%;">Reset</button>
    </ng-container>
    <ng-container ktPortletTools>
      <!-- <button mat-raised-button color="primary" (click)="add()"> Add New </button> -->
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>

    <div class="kt-form__section kt-form__section--first">
      <!-- Filteration start -->
      <div>

        <!-- <div class="col-md-2 kt-margin-bottom-10-mobile">
                        <div class="kt-form__control">
                          <mat-form-field>
                                <mat-select placeholder="Events Filter" (selectionChange)="applyFilter($event.value)" class="mat-form-field mat-form-field-fluid">
                                  <mat-option *ngFor="let opt of events" [value]="opt.name">{{ opt.name }}</mat-option>
                                </mat-select>

                                <mat-hint align="start">
                                  <strong>Filter by Event</strong>
                                </mat-hint>
                          </mat-form-field>
                        </div>  
                      </div> -->

        <!-- <div class="col-md-2 kt-margin-bottom-10-mobile">
                            <div class="kt-form__control">
                              <mat-form-field>
                                    <mat-select placeholder="Payment Filter" (selectionChange)="applyFilter($event.value)" class="mat-form-field mat-form-field-fluid">
                                      <mat-option *ngFor="let opt of payment" [value]="opt">{{ opt }}</mat-option>
                                    </mat-select>
    
                                    <mat-hint align="start">
                                      <strong>Filter by payment</strong>
                                    </mat-hint>
                              </mat-form-field>
                            </div>  
                          </div> -->
        <div class="row" style="width: 100%;">
          <mat-form-field class="col-md-2">
            <mat-select placeholder="Year" [(ngModel)]="filter.yearValue" name="year"
              (selectionChange)="selectChangeHandler()">
              <mat-option *ngFor="let item of years" [value]="item.year">
                {{item.year}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-2">
            <mat-select placeholder="Camp Name" [(ngModel)]="filter.campValue" name="camp"
              (selectionChange)="getCampData()">
              <mat-option *ngFor="let camp of camps" [value]="camp.id">
                {{camp.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="col-md-2" *ngIf="camptype == 'Family'">
            <mat-checkbox [(ngModel)]="filter.showGards" name="gards" (change)="ShowGards($event)"
              [checked]="filter.showGards" [color]="'primary'">
            </mat-checkbox>
            <label class="kt--font-bold kt-font-danger-"
              style="margin-top: 15px;margin-left: 5px;font-size: 14px;">Guardians</label>
          </div>
          <mat-form-field class="col-md-2" *ngIf="camptype == 'Family'">
            <mat-select placeholder="Approval" [(ngModel)]="approval" name="Approval" (selectionChange)="Approve()">
              <mat-option value="Yes">
                Yes
              </mat-option>
              <mat-option value="No">
                No
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row" style="width: 100%;">
          <div class="col-md-3 kt-margin-bottom-10-mobile"></div>
          <div class="col-md-3 kt-margin-bottom-10-mobile">
            <div class="kt-form__control">
              <mat-form-field>
                <mat-select placeholder="Status Filter" (selectionChange)="applyFilter($event.value)"
                  class="mat-form-field mat-form-field-fluid" [(ngModel)]="filter.status_id">
                  <mat-option *ngFor="let opt of options" [value]="opt">{{ opt }}</mat-option>
                </mat-select>

                <mat-hint align="start">
                  <strong>Filter by Payment Status</strong>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-3 kt-margin-bottom-10-mobile">
            <div class="kt-form__control">
              <mat-form-field>
                <mat-select placeholder="Method Filter" [(ngModel)]="filter.method_id"
                  (selectionChange)="applyFilter($event.value)" class="mat-form-field mat-form-field-fluid">
                  <mat-option *ngFor="let opt of method" [value]="opt">{{ opt }}</mat-option>
                </mat-select>

                <mat-hint align="start">
                  <strong>Filter by method</strong>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3 kt-margin-bottom-10-mobile">
            <div class="kt-form__control">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="filter.searchKey"
                  placeholder="Search">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <!-- //Filteration End -->


      <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
        [ngClass]="{'show' : selection.selected.length > 0}">
        <div class="col-xl-12">
          <div class="kt-form__group kt-form__group--inline">
            <div class="kt-form__label kt-form__label-no-wrap">
              <label class="kt--font-bold kt-font-danger-">Selected records count: {{ selection.selected.length
                }}</label>
            </div>
            <div class="kt-form__control kt-form__group--inline">
              <button mat-raised-button color="accent" (click)="send(1)" matTooltip="Send selected notifications"
                class="mat-button-mt-4">
                <mat-icon>email</mat-icon>
                Send Email
              </button>&nbsp;
              <button mat-raised-button color="accent" (click)="send(2)" matTooltip="Send selected SMS"
                class="mat-button-mt-4">
                <mat-icon>textsms</mat-icon>
                Send SMS
              </button>&nbsp;
            </div>
          </div>
        </div>
      </div>

      <mat-table #table1 [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
            <mat-checkbox (change)="SelectAll($event)" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="mat-column-checkbox">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="SelectRow($event,selection,row)"
              [checked]="selection.isSelected(row)" [color]="'primary'">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Camper Name </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button (click)="kid(item.kid_id)" mat-icon-button>
              {{item.firstName}} {{item.middleName}} {{item.familyName}}
            </button>
          </mat-cell>
        </ng-container>
        <!--         
                  <ng-container matColumnDef="event_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Event Name </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.event_name}} </mat-cell>
                  </ng-container> -->

        <!-- <ng-container matColumnDef="status">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                      <mat-cell *matCellDef="let item"> 
                          <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClass(item.status) }} kt-badge--wide">
                              {{ item.status }}
                          </span>
                         </mat-cell>
                    </ng-container> -->

        <ng-container matColumnDef="paymentStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Status </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <span
              class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClass(item.paymentStatus) }} kt-badge--wide"
              *ngIf="item.paymentStatus != NULL">
              {{ item.paymentStatus }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="paymentMethod">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Method </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.paymentMethod}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="meetingpoint">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Meeting Point </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.point }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tshirt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> T-Shirt </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.tshirtname }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Booking Date </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.created_at | date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button (click)="edit(item.id)" mat-icon-button color="primary" matTooltip="Edit">
              <mat-icon>create</mat-icon>
            </button>&nbsp;
            <button mat-icon-button color="warn" matTooltip="Delete" type="button" (click)="delete(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
      </mat-table>
      <mat-paginator #matPaginator [length]="resultsLength" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 50, 100]"
        [showFirstLastButtons]="true"></mat-paginator>
    </div>

  </kt-portlet-body>
</kt-portlet>