<div *ngFor="let item of items">
    <p>
        <ngb-alert [dismissible]="false" type="{{get_color(item.team)}}">
          <strong>{{ item.team }} Team</strong>
        </ngb-alert>
      </p>
  
    <div class="row">
          <div class="col-md-4" *ngFor="let subitem of item.subteam">
            
            <kt-portlet>
              <kt-portlet-header>
                  <ng-container ktPortletTitle>
                      <h3 class="kt-portlet__head-title">{{ item.team }} {{subitem.sub}}</h3>
                  </ng-container>
              </kt-portlet-header>
              <kt-portlet-body>
                <ul>
                      <li *ngFor="let result of subitem.data" >
                          {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                      </li>
                </ul>   
                
              </kt-portlet-body>
            </kt-portlet>
          </div>
      </div>
</div>