<div class="row">
  <div class="col-lg-12">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
          <div class="kt-portlet__head-title">
            <span class="kt-portlet__head-icon kt-hide">
              <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-text">
              Edit Booking
            </h3>
          </div>
        </div>
      </div>
      <div *ngFor="let item of items">
      <form class="kt-form kt-form--label-align-right"  #f = "ngForm" (submit)="f.form.valid && onSubmit(f)">
          <div class="kt-portlet__body">
          <div class="kt-form__section kt-form__section--first">

            <input type="hidden" [(ngModel)]="item.id" name="id">

            <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">Main guardian:</label>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Guardian Name" value="{{item.firstName}} {{item.middleName}} {{item.familyName}}" name="point" readonly>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Event Name:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Event Name" [(ngModel)]="item.event_name" name="event_name" readonly>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Team:</label>
                <div class="col-lg-6">
                    <mat-form-field>
                        <mat-select [(ngModel)]="item.team" placeholder="Team" name="team">
                          <mat-option *ngFor="let opt of teams" [value]="opt">{{ opt }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>

              <div class="form-group kt-form__group row">
                  <label class="col-lg-2 col-form-label">Approval:</label>
                  <div class="col-lg-6">
                      <mat-form-field>
                          <mat-select [(ngModel)]="item.approval" placeholder="Booking Approval" name="approval">
                            <mat-option *ngFor="let opt of approves" [value]="opt">{{ opt }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
              </div>

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Payment Availability:</label>
                <div class="col-lg-6">
                    <mat-form-field>
                        <mat-select [(ngModel)]="item.paymentAvailability" placeholder="Payment Availability" name="paymentAvailability">
                          <mat-option *ngFor="let opt of options" [value]="opt">{{ opt }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>

              <div class="form-group kt-form__group row">
                  <label class="col-lg-2 col-form-label">Payment Status:</label>
                  <div class="col-lg-6">
                      <mat-form-field>
                          <mat-select [(ngModel)]="item.paymentStatus" placeholder="Payment Status" name="paymentStatus">
                            <mat-option *ngFor="let payment of payments" [value]="payment">{{ payment }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                </div>

                <div class="form-group kt-form__group row">
                    <label class="col-lg-2 col-form-label">Payment Method:</label>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-select [(ngModel)]="item.paymentMethod" placeholder="Payment Method" name="paymentMethod">
                              <mat-option *ngFor="let opt of options2" [value]="opt.key">{{ opt.value }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>

          </div>

          <div class="kt-form__seperator kt-form__seperator--dashed"></div>
        </div>
        <div class="kt-portlet__foot">
          <div class="kt-form__actions kt-form__actions">
            <div class="row">
              <div class="col-lg-6">
                  <button mat-raised-button color="primary" type="submit"  [disabled]="f.form.invalid">Save Data</button>&nbsp;
                <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
