<kt-portlet>
  <kt-portlet-header [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTitle>
      <h3 class="kt-portlet__head-title">Family Camp Booking</h3>
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>

          <div class="kt-form__section kt-form__section--first">
            <!-- Filteration start -->
              <div class="row align-items-center">

                  <!-- <div class="col-md-2 kt-margin-bottom-10-mobile">
                    <div class="kt-form__control">
                      <mat-form-field>
                            <mat-select placeholder="Events Filter" (selectionChange)="applyFilter($event.value)" class="mat-form-field mat-form-field-fluid">
                              <mat-option *ngFor="let opt of events" [value]="opt.name">{{ opt.name }}</mat-option>
                            </mat-select>

                            <mat-hint align="start">
                              <strong>Filter by Event</strong>
                            </mat-hint>
                      </mat-form-field>
                    </div>  
                  </div> -->

                  <!-- <div class="col-md-2 kt-margin-bottom-10-mobile">
                      <div class="kt-form__control">
                        <mat-form-field>
                              <mat-select placeholder="Status Filter" (selectionChange)="applyFilter($event.value)" class="mat-form-field mat-form-field-fluid">
                                <mat-option *ngFor="let opt of status" [value]="opt">{{ opt }}</mat-option>
                              </mat-select>

                              <mat-hint align="start">
                                <strong>Filter by status</strong>
                              </mat-hint>
                        </mat-form-field>
                      </div>  
                    </div> -->

                    <!-- <div class="col-md-2 kt-margin-bottom-10-mobile">
                        <div class="kt-form__control">
                          <mat-form-field>
                                <mat-select placeholder="Payment Filter" (selectionChange)="applyFilter($event.value)" class="mat-form-field mat-form-field-fluid">
                                  <mat-option *ngFor="let opt of payment" [value]="opt">{{ opt }}</mat-option>
                                </mat-select>

                                <mat-hint align="start">
                                  <strong>Filter by payment</strong>
                                </mat-hint>
                          </mat-form-field>
                        </div>  
                      </div> -->

                      <!-- <div class="col-md-2 kt-margin-bottom-10-mobile">
                          <div class="kt-form__control">
                            <mat-form-field>
                                  <mat-select placeholder="Method Filter" (selectionChange)="applyFilter($event.value)" class="mat-form-field mat-form-field-fluid">
                                    <mat-option *ngFor="let opt of method" [value]="opt">{{ opt }}</mat-option>
                                  </mat-select>
  
                                  <mat-hint align="start">
                                    <strong>Filter by method</strong>
                                  </mat-hint>
                            </mat-form-field>
                          </div>  
                        </div> -->

                  <div class="col-md-2 kt-margin-bottom-10-mobile">
                    <div class="kt-form__control">
                      <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                      </mat-form-field>
                    </div>  
                  </div>
            </div>
            <!-- //Filteration End -->

            <mat-table #table1 [dataSource]="dataSource" matSort>
    
              <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Camper Name </mat-header-cell>
                <mat-cell *matCellDef="let item"> 
                  <button (click)="check(item.familyID)" mat-icon-button>
                      {{item.firstName}} {{item.middleName}} {{item.familyName}}
                  </button>
                 </mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="event_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Event Name </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.event_name}} </mat-cell>
              </ng-container>
 
                <ng-container matColumnDef="approval">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Approval </mat-header-cell>
                  <mat-cell *matCellDef="let item"> 
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClass(item.status) }} kt-badge--wide">
                          {{ item.approval }}
                      </span>
                     </mat-cell>
                </ng-container>  

                <ng-container matColumnDef="paymentAvailability">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Availability </mat-header-cell>
                  <mat-cell *matCellDef="let item"> 
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClass(item.status) }} kt-badge--wide">
                          {{ item.paymentAvailability }}
                      </span>
                     </mat-cell>
                </ng-container> 

              <ng-container matColumnDef="paymentStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Status </mat-header-cell>
                <mat-cell *matCellDef="let item"> 
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClass(item.paymentStatus) }} kt-badge--wide">
                        {{ item.paymentStatus }}
                    </span>
                  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="paymentMethod">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Method </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.paymentMethod}} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="created_at">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Booking Date </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{item.created_at | date}} </mat-cell>
                </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let item">
                  <button (click)="edit(item.id)" mat-icon-button color="primary" matTooltip="Edit">
                    <mat-icon>create</mat-icon>
                  </button>&nbsp;
                  <button mat-icon-button color="warn" matTooltip="Delete" type="button" (click)="delete(item.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
            </mat-table>
            <mat-paginator #matPaginator [length]="resultsLength" [pageSize]="50" 
            [pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
            </div>

</kt-portlet-body>
</kt-portlet>