<kt-portlet>
    <kt-portlet-header [class]="'kt-portlet__head--lg'">
      <ng-container ktPortletTitle>
      <h3 class="kt-portlet__head-title">Cabins Report</h3>
      </ng-container>
          <ng-container ktPortletTitle>&nbsp;
          <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
             Male
        </span>
        &nbsp; | &nbsp;
        <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
            Female
        </span>
    </ng-container>
    </kt-portlet-header>
    
    <kt-portlet-body>
          <div class="kt-form__section kt-form__section--first">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
  
                  <mat-table #table1 [dataSource]="dataSource" matSort>
    
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Event Name </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="Total">
                <mat-header-cell *matHeaderCellDef>Total </mat-header-cell>
                <mat-cell *matCellDef="let item"> 
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
                     {{ item.boysTotal }}
                    </span>
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
                     {{ item.girlsTotal }}
                    </span>
                </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="#1">
                <mat-header-cell *matHeaderCellDef>C1 </mat-header-cell>
                <mat-cell *matCellDef="let item"> 
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
                     {{ item.boys1 }}
                    </span>
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
                     {{ item.girls1 }}
                    </span>
                </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="#2">
                <mat-header-cell *matHeaderCellDef> C2 </mat-header-cell>
                <mat-cell *matCellDef="let item"> 
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
                        {{ item.boys2 }}
                    </span><br>
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
                        {{ item.girls2 }}
                    </span>
                </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="#3">
                <mat-header-cell *matHeaderCellDef> C3 </mat-header-cell>
                <mat-cell *matCellDef="let item"> 
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
                        {{ item.boys3 }}
                    </span><br>
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
                        {{ item.girls3 }}
                    </span>
                </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="#4">
                <mat-header-cell *matHeaderCellDef> C4 </mat-header-cell>
                <mat-cell *matCellDef="let item"> 
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
                        {{ item.boys4 }}
                    </span><br>
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
                        {{ item.girls4 }}
                    </span>
                </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="#5">
                <mat-header-cell *matHeaderCellDef> C5 </mat-header-cell>
                <mat-cell *matCellDef="let item"> 
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
                        {{ item.boys5 }}
                    </span><br>
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
                        {{ item.girls5 }}
                    </span>
                </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="#6">
                  <mat-header-cell *matHeaderCellDef> C6 </mat-header-cell>
                  <mat-cell *matCellDef="let item"> 
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
                          {{ item.boys6 }}
                      </span><br>
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
                          {{ item.girls6 }}
                      </span>
                  </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="#7">
                  <mat-header-cell *matHeaderCellDef> C7 </mat-header-cell>
                  <mat-cell *matCellDef="let item"> 
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
                          {{ item.boys7 }}
                      </span><br>
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
                          {{ item.girls7 }}
                      </span>
                  </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="#8">
                  <mat-header-cell *matHeaderCellDef> C8 </mat-header-cell>
                  <mat-cell *matCellDef="let item"> 
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
                          {{ item.boys8 }}
                      </span><br>
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
                          {{ item.girls8 }}
                      </span>
                  </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="#9">
                  <mat-header-cell *matHeaderCellDef> C9 </mat-header-cell>
                  <mat-cell *matCellDef="let item"> 
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
                          {{ item.boys9 }}
                      </span><br>
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
                          {{ item.girls9 }}
                      </span>
                  </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="#10">
                  <mat-header-cell *matHeaderCellDef> C10 </mat-header-cell>
                  <mat-cell *matCellDef="let item"> 
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--metalic kt-badge--wide">
                          {{ item.boys10 }}
                      </span><br>
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
                          {{ item.girls10 }}
                      </span>
                  </mat-cell>
                </ng-container>
  
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
                <mat-cell *matCellDef="let item">
                  <button (click)="details(item.event_id)" mat-icon-button color="primary" matTooltip="Details">
                    <mat-icon>list</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
            </mat-table>
            <mat-paginator #matPaginator [length]="resultsLength" [pageSize]="25" 
                [pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
            </div>        
          
  
          </kt-portlet-body>
        </kt-portlet>
  
  