    
<div *ngFor="let item of items">
          <kt-portlet>
              <kt-portlet-header [class]="'kt-portlet__head--lg'">
                <ng-container ktPortletTitle>
                <h3 class="kt-portlet__head-title">View Camper</h3>
                </ng-container>
                <ng-container ktPortletTools>
                    <button mat-raised-button (click)="cancel()">Back</button>&nbsp;&nbsp;
                  <button mat-raised-button color="primary" (click)="edit(item.id)"> Edit </button>
                </ng-container>
              </kt-portlet-header>
              
              <kt-portlet-body>
            <div class="kt-form__section kt-form__section--first">

      <div class="row">
          <div class="col-lg-4">
              <img src="./assets/media/users/kid.png" style="max-height:250px">
          </div>
          <div class="col-lg-8">

                <div class="row">
                    <label class="col-lg-2">Name:</label>
                    <div class="col-lg-10">{{ item.firstName }} {{ item.middleName }} {{item.familyName}}</div>
                  </div>

                  <div class="row">
                      <label class="col-lg-2">Team:</label>
                      <div class="col-lg-6">
                          {{item.team}}
                      </div>
                    </div>

                  <div class="row">
                      <label class="col-lg-2">Gender:</label>
                      <div class="col-lg-6">
                          {{item.gender}}
                      </div>
                    </div>
                
              <div class="row">
                <label class="col-lg-2">Birth Date:</label>
                <div class="col-lg-6">
                  {{item.birthDate}}
                </div>
              </div>

              <div class="row">
                  <label class="col-lg-2">Email:</label>
                  <div class="col-lg-6">
                   {{item.email}}
                  </div>
                </div>
 
                <div class="row">
                    <label class="col-lg-2">Mobile:</label>
                    <div class="col-lg-6">
                     {{item.mobile}}
                    </div>
                  </div>

                    <div class="row">
                        <label class="col-lg-2">Address:</label>
                        <div class="col-lg-6">
                          {{item.address}}
                        </div>
                      </div>

                  <div class="row">
                      <label class="col-lg-2">School:</label>
                      <div class="col-lg-6">
                        {{item.school}}
                      </div>
                    </div>

                    <div class="row">
                        <label class="col-lg-2">Grade:</label>
                        <div class="col-lg-6">
                          {{item.grade}}
                        </div>
                      </div>

                      <div class="row">
                          <label class="col-lg-2">National ID:</label>
                          <div class="col-lg-6">
                           {{item.nationalID}}
                            <br>
                            <a href="{{ uploadsLink +'kids/'+item.birthCertificate}}" target="_blank">
                              <img src="{{ uploadsLink +'kids/'+item.birthCertificate}}" style="height:150px;"></a>
                          </div>
                        </div>
                       
                        <div class="row">
                            <label class="col-lg-2">Emergency Contact Number:</label>
                            <div class="col-lg-6">
                              {{item.emergeContatNumber}}
                            </div>
                          </div>

                          <!-- <div class="row">
                              <label class="col-lg-2">Sports:</label>
                              <div class="col-lg-6">
                                {{item.sport1}}<br>
                                {{item.sport2}}<br>
                                {{item.sport3}}<br>
                                {{item.sport4}}<br>
                                {{item.sport5}}<br>
                              </div>
                            </div> -->

                            <div class="row">
                                <label class="col-lg-2">Medical Issues:</label>
                                <div class="col-lg-6">
                                   {{item.medicalIssues}}
                                  <br>{{item.medicalIssues_details}}
                                </div>
                              </div>


                              <div class="row">
                                  <label class="col-lg-2">Food Allergy:</label>
                                  <div class="col-lg-6">
                                      {{item.foodAllergy}}
                                      <br>
                                      {{item.foodAllergy_details}}
                                  </div>
                                </div>


                                <div class="row">
                                    <label class="col-lg-2">Ongoing Medication:</label>
                                    <div class="col-lg-6">
                                        {{item.ongoingMedication}}
                                        <br>
                                        {{item.ongoingMedication_details}}
                                      
                                    </div>
                                  </div>

                                  
              </div>
            </div>
                        </div>
  
            <div class="kt-form__seperator kt-form__seperator--dashed"></div>

          </kt-portlet-body>
        </kt-portlet>
</div>