<div class="row">
    <div class="col-lg-12">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
              <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="kt-portlet__head-text">
                Create Camper
              </h3>
            </div>
          </div>
        </div>

        <form class="kt-form kt-form--label-align-right" #f = "ngForm" (submit)="f.form.valid && onSubmit(f)">
          <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">

              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">First Name:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" required [(ngModel)]="firstName"  name="firstName">
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                  <label class="col-lg-2 col-form-label">Middle Name:</label>
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Middle Name" required [(ngModel)]="middleName"  name="middleName">
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-group kt-form__group row">
                    <label class="col-lg-2 col-form-label">Last Name:</label>
                    <div class="col-lg-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Last Name" required [(ngModel)]="familyName" name="familyName">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group kt-form__group row">
                      <label class="col-lg-2 col-form-label">Team:</label>
                      <div class="col-lg-6">
                          <mat-form-field>
                              <mat-select [(ngModel)]="team" placeholder="Team" name="team">
                                <mat-option *ngFor="let opt of teams" [value]="opt">{{ opt }}</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                    </div>

                  <div class="form-group kt-form__group row">
                      <label class="col-lg-2 col-form-label">Gender:</label>
                      <div class="col-lg-6">
                          <mat-form-field>
                              <mat-select [(ngModel)]="gender" placeholder="Gender" name="gender">
                                <mat-option *ngFor="let opt of genders" [value]="opt">{{ opt }}</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                    </div>
                
              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Birth Date:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)] = "birthDate" name="birthDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group kt-form__group row">
                  <label class="col-lg-2 col-form-label">Email:</label>
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email Address" [(ngModel)]="email" name="email" type="email">
                    </mat-form-field>
                  </div>
                </div>
 
                <div class="form-group kt-form__group row">
                    <label class="col-lg-2 col-form-label">Mobile:</label>
                    <div class="col-lg-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Mobile No" [(ngModel)]="mobile" name="mobile">
                      </mat-form-field>
                    </div>
                  </div>

                    <div class="form-group kt-form__group row">
                        <label class="col-lg-2 col-form-label">Address:</label>
                        <div class="col-lg-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Address" required [(ngModel)]="address" name="address">
                          </mat-form-field>
                        </div>
                      </div>

                  <div class="form-group kt-form__group row">
                      <label class="col-lg-2 col-form-label">School:</label>
                      <div class="col-lg-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="School" required [(ngModel)]="school" name="school">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="form-group kt-form__group row">
                        <label class="col-lg-2 col-form-label">Grade:</label>
                        <div class="col-lg-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Grade" required [(ngModel)]="grade" name="grade">
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="form-group kt-form__group row">
                        <label class="col-lg-2 col-form-label">Guardian 1 relation:</label>
                        <div class="col-lg-6">
                            <mat-form-field>
                                <mat-select [(ngModel)]="parent1_relation" placeholder="Guardian 1 relation" name="parent1_relation" required>
                                  <mat-option *ngFor="let relation of relations" [value]="relation">{{ relation }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                      </div>

                      <div class="form-group kt-form__group row">
                        <label class="col-lg-2 col-form-label">Guardian 2 relation:</label>
                        <div class="col-lg-6">
                            <mat-form-field>
                                <mat-select [(ngModel)]="parent2_relation" placeholder="Guardian 2 relation" name="parent2_relation" required>
                                  <mat-option *ngFor="let relation of relations" [value]="relation">{{ relation }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                      </div>

                      <div class="form-group kt-form__group row">
                        <label class="col-lg-2 col-form-label">Country:</label>
                        <div class="col-lg-6">
                            <mat-form-field>
                                <mat-select [(ngModel)]="IDType" placeholder="Country" name="IDType">
                                  <mat-option *ngFor="let type of types" [value]="type.key">{{ type.value }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                      </div>

                      <div class="form-group kt-form__group row">
                          <label class="col-lg-2 col-form-label">National ID:</label>
                          <div class="col-lg-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="National ID" required [(ngModel)]="nationalID" name="nationalID">
                            </mat-form-field>
                          </div>
                        </div>

                        <!-- <div class="form-group kt-form__group row">
                          <label class="col-lg-2 col-form-label">Birth Certifcate:</label>
                          <div class="col-lg-6">
                              <input [(ngModel)]="birthCertificate" type="file" name="birthCertificate" accept="image/*"><br>

                          </div>
                        </div> -->

                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">Emergency Contact Number:</label>
                            <div class="col-lg-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Emergency Contact Number" required [(ngModel)]="emergeContactNumber" name="emergeContactNumber">
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="form-group kt-form__group row">
                              <label class="col-lg-2 col-form-label">Sport 1:</label>
                              <div class="col-lg-6">
                                  <mat-form-field>
                                      <mat-select [(ngModel)]="sport1_id" placeholder="Sport 1" name="sport1_id" required>
                                        <mat-option *ngFor="let sport of sportsitems" [value]="sport.id">{{ sport.name }}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                              </div>
                            </div>

                              <div class="form-group kt-form__group row">
                                  <label class="col-lg-2 col-form-label">Sport 2:</label>
                                  <div class="col-lg-6">
                                      <mat-form-field>
                                          <mat-select [(ngModel)]="sport2_id" placeholder="Sport 2" name="sport2_id" required>
                                            <mat-option *ngFor="let sport of sportsitems" [value]="sport.id">{{ sport.name }}</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                  </div>
                                </div>

                                <div class="form-group kt-form__group row">
                                    <label class="col-lg-2 col-form-label">Sport 3:</label>
                                    <div class="col-lg-6">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="sport3_id" placeholder="Sport 3" name="sport3_id" required>
                                              <mat-option *ngFor="let sport of sportsitems" [value]="sport.id">{{ sport.name }}</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                    </div>
                                  </div>

                                  <div class="form-group kt-form__group row">
                                      <label class="col-lg-2 col-form-label">Sport 4:</label>
                                      <div class="col-lg-6">
                                          <mat-form-field>
                                              <mat-select [(ngModel)]="sport4_id" placeholder="Sport 4" name="sport4_id" required>
                                                <mat-option *ngFor="let sport of sportsitems" [value]="sport.id">{{ sport.name }}</mat-option>
                                              </mat-select>
                                            </mat-form-field>
                                      </div>
                                    </div>

                                    
                                  <div class="form-group kt-form__group row">
                                      <label class="col-lg-2 col-form-label">Sport 5:</label>
                                      <div class="col-lg-6">
                                          <mat-form-field>
                                              <mat-select [(ngModel)]="sport5_id" placeholder="Sport 5" name="sport5_id" required>
                                                <mat-option *ngFor="let sport of sportsitems" [value]="sport.id">{{ sport.name }}</mat-option>
                                              </mat-select>
                                            </mat-form-field>
                                      </div>
                                    </div>

                            <div class="form-group kt-form__group row">
                                <label class="col-lg-2 col-form-label">Medical Issues:</label>
                                <div class="col-lg-6">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="medicalIssues"  placeholder="Status" name="medicalIssues">
                                            <mat-option *ngFor="let opt of options" [value]="opt">{{ opt }}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                  <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Medical Issues" [(ngModel)]="medicalIssues_details" name="medicalIssues_details"></textarea>
                                  </mat-form-field>
                                </div>
                              </div>


                              <div class="form-group kt-form__group row">
                                  <label class="col-lg-2 col-form-label">Food Allergy:</label>
                                  <div class="col-lg-6">
                                      <mat-form-field>
                                          <mat-select [(ngModel)]="foodAllergy" placeholder="Status" name="foodAllergy">
                                              <mat-option *ngFor="let opt of options" [value]="opt">{{ opt }}</mat-option>
                                          </mat-select>
                                        </mat-form-field>

                                    <mat-form-field class="example-full-width">
                                      <textarea matInput placeholder="Food Allergy" [(ngModel)]="foodAllergy_details" name="foodAllergy_details"></textarea>
                                    </mat-form-field>
                                  </div>
                                </div>


                                <div class="form-group kt-form__group row">
                                    <label class="col-lg-2 col-form-label">Ongoing Medication:</label>
                                    <div class="col-lg-6">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="ongoingMedication" placeholder="Status" name="ongoingMedication">
                                                <mat-option *ngFor="let opt of options" [value]="opt">{{ opt }}</mat-option>
                                            </mat-select>
                                          </mat-form-field>

                                      <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Ongoing Medication" [(ngModel)]="ongoingMedication_details" name="ongoingMedication_details"></textarea>
                                      </mat-form-field>
                                    </div>
                                  </div>

                                  
          <!-- <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">Profile Image:</label>
              <div class="col-lg-6">
                  <input [(ngModel)]="profileImage" type="file" name="profileImage" accept="image/*">
              </div>
            </div> -->

            </div>
  
            <div class="kt-form__seperator kt-form__seperator--dashed"></div>
          </div>
          <div class="kt-portlet__foot">
            <div class="kt-form__actions kt-form__actions">
              <div class="row">
                <div class="col-lg-6">
                  <button mat-raised-button color="primary" type="submit"  [disabled]="f.form.invalid">Save Data</button>&nbsp;
                  <button mat-raised-button (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  