<kt-portlet>
  <kt-portlet-header [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTitle>
      <h3 class="kt-portlet__head-title">Booking Report</h3>
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>

          <div class="kt-form__section kt-form__section--first">
              <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
                
            <mat-table #table1 [dataSource]="dataSource" matSort>
        
              <ng-container matColumnDef="event_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Event Name </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.event_name}} </mat-cell>
              </ng-container>
 
              <ng-container matColumnDef="from">
                <mat-header-cell *matHeaderCellDef mat-sort-header> From </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.startDate | date}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="to">
                <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.endDate | date}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="cash">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Cash Payment </mat-header-cell>
                  <mat-cell *matCellDef="let item"> 
                      <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--primary kt-badge--wide">
                          {{ item.cash }}
                          </span>

                     </mat-cell>
                </ng-container>

              <ng-container matColumnDef="online">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Online Payment </mat-header-cell>
                <mat-cell *matCellDef="let item"> 
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide">
                        {{ item.online }}
                        </span>
                  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="refunded">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Refunded </mat-header-cell>
                <mat-cell *matCellDef="let item"> 
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide">
                        {{ item.refunded }}
                        </span>
                  </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
            </mat-table>
            <mat-paginator #matPaginator [length]="resultsLength" [pageSize]="25" 
            [pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
            </div>

</kt-portlet-body>
</kt-portlet>