<div class="row">
  <div class="col-lg-12">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
          <div class="kt-portlet__head-title">
            <span class="kt-portlet__head-icon kt-hide">
              <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-text">
              New Product
            </h3>
          </div>
        </div>
      </div>
      
      <form class="kt-form kt-form--label-align-right"  #f = "ngForm" (submit)="f.form.valid && onSubmit(f)">
          <div class="kt-portlet__body">
          <div class="kt-form__section kt-form__section--first">

            <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">Product Name:</label>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Product name" [(ngModel)]="productName" name="productName" required>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group kt-form__group row">
              <label class="col-lg-2 col-form-label">Product Description:</label>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Product Description" [(ngModel)]="productDescription" name="productDescription" required>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Price:</label>
                <div class="col-lg-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Price" [(ngModel)]="price" name="price" type="number" required>
                  </mat-form-field>
                </div>

              <label class="col-lg-2 col-form-label">Image:</label>
              <div class="col-lg-4">
                  <input type="file" name="image" />

              </div>

              </div>

                <div class="form-group kt-form__group row">
                  <label class="col-lg-2 col-form-label">Status:</label>
                  <div class="col-lg-4">
                    
                      <mat-form-field class="example-full-width">

                          <mat-select [(ngModel)]="status" placeholder="Status" name="status" required>
                              <mat-option *ngFor="let opt of statusOptions" [value]="opt.key">{{ opt.value }}</mat-option>
                            </mat-select>

                    </mat-form-field>
                  </div>
                    <label class="col-lg-2 col-form-label">Amount:</label>
                    <div class="col-lg-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Amount" [(ngModel)]="amount" name="amount" type="number" required>
                      </mat-form-field>
                    </div>
                  </div>

          </div>

          <div class="kt-form__seperator kt-form__seperator--dashed"></div>
        </div>
        <div class="kt-portlet__foot">
          <div class="kt-form__actions kt-form__actions">
            <div class="row">
              <div class="col-lg-6">
                  <button mat-raised-button color="primary" type="submit"  [disabled]="f.form.invalid">Save Data</button>&nbsp;
                <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
