
<!--
    (fileUploadRequest)="onFileUploadRequest($event)"
    (fileUploadResponse)="onFileUploadResponse($event)"
-->
<div class="row">
    <div class="col-lg-12">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
              <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="kt-portlet__head-text">
                Edit Post
              </h3>
            </div>
          </div>
        </div>
    
        <form class="kt-form kt-form--label-align-right"  #f = "ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
            <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
                <div class="row">
                <div class="col-lg-8">
                <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label" style="text-align: left !important;">Post Title:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Post Title" [(ngModel)]="postTitle" name="postTitle" required>
                  </mat-form-field>
                </div>
              </div>
                     <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label" style="text-align: left !important;">Post Description:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Post Description" [(ngModel)]="postDesc" name="postDesc" required>
                  </mat-form-field>
                </div>
              </div>
                 <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label" style="text-align: left !important;">Post Image:</label>
                <div class="col-lg-6">
                  
                    <input type="file" accept="image/*"  (change)="onSelectFile($event.target.files)"  name="imag" required>
               
                </div>
              </div>
                </div>
                <div class="col-lg-4">
                  <img [src]="postImage"  id="image" style="width:100%">
                
                </div>
              </div>
                 <div class="form-group kt-form__group row">
                <label class="col-lg-12 col-form-label" style="text-align: left !important;">Post Content:</label>
                <div class="col-lg-12">
                
                              <ckeditor
                [(ngModel)]="postContent"
                [config]=""
                [readonly]="false"
                name="postContent"
                debounce="500" required>
              </ckeditor>
                 
                </div>
              </div>
  
           

            </div>
  
            <div class="kt-form__seperator kt-form__seperator--dashed"></div>
          </div>
          <div class="kt-portlet__foot">
            <div class="kt-form__actions kt-form__actions">
              <div class="row">
                <div class="col-lg-6">
                    <button mat-raised-button color="primary" type="submit"  [disabled]="f.form.invalid">Save Data</button>&nbsp;
                  <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
       
      </div>
    </div>
  </div>
  