    
<div *ngFor="let item of items">
    <kt-portlet>
        <kt-portlet-header [class]="'kt-portlet__head--lg'">
          <ng-container ktPortletTitle>
          <h3 class="kt-portlet__head-title">View Order</h3>
          </ng-container>
          <ng-container ktPortletTools>
              <button mat-raised-button (click)="cancel()">Back</button>&nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="edit(item.id)"> Edit </button>
          </ng-container>
        </kt-portlet-header>
        
        <kt-portlet-body>
          <div class="kt-form__section kt-form__section--first">
  
              <div class="row">
                <label class="col-lg-2">Product Name:</label>
                <div class="col-lg-6">{{item.productName}}
                </div>
              </div>
  
              <div class="row">
                  <label class="col-lg-2">Price:</label>
                  <div class="col-lg-4">{{item.price}}
                  </div> 
                </div>
  
                  <div class="row">
                    <label class="col-lg-2">Status:</label>
                    <div class="col-lg-4">{{item.status}}
                    </div>
                    </div>

                    <div class="row">
                          <label class="col-lg-2">Amount:</label>
                          <div class="col-lg-4">{{item.amount}}
                          </div>
                        </div>

            </div>
  
          </kt-portlet-body>
        </kt-portlet>
</div>