<div class="row">
    <div class="col-lg-12">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
              <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="kt-portlet__head-text">
                Edit Coupon
              </h3>
            </div>
          </div>
        </div>
        <div *ngFor="let item of items">
        
        <form class="kt-form kt-form--label-align-right"  #f = "ngForm" (submit)="f.form.valid && onSubmit(f)">
            <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Sport Name:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Sport name" [(ngModel)]="item.name" name="name" required>
                  </mat-form-field>
                </div>
              </div>
              <input type="hidden" [(ngModel)]="item.id" name="id">
  
              <div class="form-group kt-form__group row">
                  <label class="col-lg-2 col-form-label">Gender:</label>
                  <div class="col-lg-4">
                    <mat-form-field class="example-full-width">
                        <mat-select [(ngModel)]="item.gender" placeholder="Gender" name="gender">
                            <mat-option *ngFor="let opt of genderOptions" [value]="opt.key">{{ opt.value }}</mat-option>
                          </mat-select>
                    </mat-form-field>
                  </div>
                    <label class="col-lg-2 col-form-label">Seats Limit:</label>
                    <div class="col-lg-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Seats Limit" [(ngModel)]="item.seatsLimit" name="seatsLimit" type="number" required>
                      </mat-form-field>
                    </div>
                  </div>
<!-- 

                <div class="form-group kt-form__group row">
                    <label class="col-lg-2 col-form-label">Age From:</label>
                    <div class="col-lg-4">
                      <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="dba" required placeholder="Age From" [(ngModel)] = "item.ageFrom" name="ageFrom">
                          <mat-datepicker-toggle matSuffix [for]="dba"></mat-datepicker-toggle>
                          <mat-datepicker #dba></mat-datepicker>
                      </mat-form-field>
                    </div>
      
                    <label class="col-lg-2 col-form-label">Age to:</label>
                    <div class="col-lg-4">
                      <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="dbb" required placeholder="Age To" [(ngModel)] = "item.ageTo" name="ageTo">
                          <mat-datepicker-toggle matSuffix [for]="dbb"></mat-datepicker-toggle>
                          <mat-datepicker #dbb></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div> -->

            </div>
  
            <div class="kt-form__seperator kt-form__seperator--dashed"></div>
          </div>
          <div class="kt-portlet__foot">
            <div class="kt-form__actions kt-form__actions">
              <div class="row">
                <div class="col-lg-6">
                    <button mat-raised-button color="primary" type="submit"  [disabled]="f.form.invalid">Save Data</button>&nbsp;
                  <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  