    
<div *ngFor="let item of items">
    <kt-portlet>
        <kt-portlet-header [class]="'kt-portlet__head--lg'">
          <ng-container ktPortletTitle>
          <h3 class="kt-portlet__head-title">View guardian data</h3>
          </ng-container>
          <ng-container ktPortletTools>
              <button mat-raised-button (click)="cancel()">Back</button>&nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="edit(item.id)"> Edit </button>
          </ng-container>
        </kt-portlet-header>
        
        <kt-portlet-body>
      <div class="kt-form__section kt-form__section--first">

        <div class="row">
          <div class="col-lg-4">
              <img src="./assets/media/users/guardian.png" style="max-height:250px">
          </div>
          <div class="col-lg-8">
        
                        <div class="row">
                          <label class="col-lg-2">Name:</label>
                          <div class="col-lg-10">{{ item.firstName }} {{ item.middleName }} {{item.lastName}}</div>
                        </div>
            
                          <div class="row">
                                <label class="col-lg-2">Gender:</label>
                                <div class="col-lg-4">{{item.gender}}</div>
                        </div>
            
                        <div class="row">
                      <label class="col-lg-2">Relation:</label>
                      <div class="col-lg-4">{{item.relation}}</div>
                    </div>
        
                        <div class="row">
                          <label class="col-lg-2">Email:</label>
                          <div class="col-lg-4">{{item.email}}</div>
                        </div>
            
                        <div class="row">
                          <label class="col-lg-2">Mobile No:</label>
                          <div class="col-lg-4">{{item.mobile}}</div>
                        </div>
            
                         <div class="row">
                          <label class="col-lg-2">Birth Date:</label>
                          <div class="col-lg-4">{{item.birthDate | date}}
                          </div>
                        </div> 
            
                        <div class="row">
                          <label class="col-lg-2">ID Type:</label>
                          <div class="col-lg-4">{{item.IDType}}</div>
                        </div>
            
                        <div class="row">
                          <label class="col-lg-2">ID Number:</label>
                          <div class="col-lg-4">{{item.IDNumber}}</div>
                        </div>
                        
                        <div class="row">
                          <label class="col-lg-2">Job:</label>
                          <div class="col-lg-4">{{item.job}}</div>
                        </div>
            
                        <div class="row">
                          <label class="col-lg-2">Employer:</label>
                          <div class="col-lg-4">{{item.employer}}</div>
                        </div>
        
                      </div>
                    </div>
            
                  </div>
          
      <div class="kt-form__seperator kt-form__seperator--dashed"></div>

    </kt-portlet-body>
  </kt-portlet>
</div>