<div class="kt-widget12">
	<div class="kt-widget12__content">
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<span class="kt-widget12__desc">From Date</span>
				<span class="kt-widget12__value">July 20,2019</span>
			</div>
			<div class="kt-widget12__info">
				<span class="kt-widget12__desc">To Date</span>
				<span class="kt-widget12__value">July 24,2019</span>
			</div>
		</div>
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<span class="kt-widget12__desc">Age From</span>
				<span class="kt-widget12__value">11 Years</span>
			</div>
			<div class="kt-widget12__info">
				<span class="kt-widget12__desc">Age To</span>
				<span class="kt-widget12__value">18 Years</span>
			</div>
		</div>
	</div>
	<div class="kt-widget12__chart" style="height:250px;">
		<canvas #chart id="kt_chart_order_statistics" width="683" height="312"></canvas>
	</div>
</div>
