.kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-text {
    padding: 0.35rem 0 0 9rem;
}

.kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-cricle{
left: 8.12rem;
}
.kt-timeline-v2:before {
left: 8.85rem;
}
.kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-time{
    font-size: 1rem;
    font-size: 1rem;
}