<div class="row" *ngFor="let item of items">
	<div class="col-lg-12">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-caption">
					<div class="kt-portlet__head-title">
						<span class="kt-portlet__head-icon kt-hide">
							<i class="la la-gear"></i>
						</span>
						<h3 class="kt-portlet__head-text">
							Edit event
						</h3>
					</div>
				</div>
			</div>

			<form class="kt-form kt-form--label-align-right" #f="ngForm">
				<div class="kt-portlet__body">
					<div class="kt-form__section kt-form__section--first">
						<mat-tab-group class="tab-group" mat-align-tabs="center">
							<mat-tab label="Camp Data">
								<div class="tab-content">

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Event Name:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Event name" required
													[(ngModel)]="item.name" name="name">
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">Type:</label>
										<div class="col-lg-4">
											<mat-form-field>
												<mat-select [(ngModel)]="item.type" placeholder="Select Type"
													name="type" required (selectionChange)="selectChange(item.type)">
													<mat-option *ngFor="let opt of types" [value]="opt.key">{{ opt.value
														}}</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Event Location:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Event Location"
													[(ngModel)]="item.eventlocation" name="eventlocation">
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Map Link:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Map link" [(ngModel)]="item.mapLink"
													name="mapLink">
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Description:</label>
										<div class="col-lg-6">
											<mat-form-field class="example-full-width">
												<textarea matInput placeholder="Description"
													[(ngModel)]="item.description" name="description"></textarea>
											</mat-form-field>
										</div>
									</div>


									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Event From:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput [matDatepicker]="picker" required
													placeholder="Choose a date" [(ngModel)]="item.startDate"
													name="startDate">
												<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
												<mat-datepicker #picker></mat-datepicker>
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">Event To:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput [matDatepicker]="db2" required
													placeholder="Choose a date" [(ngModel)]="item.endDate"
													name="endDate">
												<mat-datepicker-toggle matSuffix [for]="db2"></mat-datepicker-toggle>
												<mat-datepicker #db2></mat-datepicker>
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Publish Date:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput [matDatepicker]="db3" required
													placeholder="Choose a date" [(ngModel)]="item.publishDate"
													name="publishDate">
												<mat-datepicker-toggle matSuffix [for]="db3"></mat-datepicker-toggle>
												<mat-datepicker #db3></mat-datepicker>
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">Opening Date:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput [matDatepicker]="db4" required
													placeholder="Choose a date" [(ngModel)]="item.openingDate"
													name="openingDate">
												<mat-datepicker-toggle matSuffix [for]="db4"></mat-datepicker-toggle>
												<mat-datepicker #db4></mat-datepicker>
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Closing Date:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput [matDatepicker]="db5" required
													placeholder="Choose a date" [(ngModel)]="item.closingDate"
													name="closingDate">
												<mat-datepicker-toggle matSuffix [for]="db5"></mat-datepicker-toggle>
												<mat-datepicker #db5></mat-datepicker>
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Fees:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Event Fees" required type="number"
													[(ngModel)]="item.fees" name="fees">
											</mat-form-field>
										</div>
									</div>

									<!-- <div *ngIf="!type;then kgc else family"></div> -->
									<div *ngIf="this.type=='Family';then family else kgc"></div>

									<ng-template #kgc>
										<div class="form-group kt-form__group row">
											<label class="col-lg-2 col-form-label">Age From:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput [matDatepicker]="dba" required
														placeholder="Age From" [(ngModel)]="item.ageFrom"
														name="ageFrom">
													<mat-datepicker-toggle matSuffix [for]="dba">
													</mat-datepicker-toggle>
													<mat-datepicker #dba></mat-datepicker>
												</mat-form-field>
											</div>

											<label class="col-lg-2 col-form-label">Age to:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput [matDatepicker]="dbb" required placeholder="Age To"
														[(ngModel)]="item.ageTo" name="ageTo">
													<mat-datepicker-toggle matSuffix [for]="dbb">
													</mat-datepicker-toggle>
													<mat-datepicker #dbb></mat-datepicker>
												</mat-form-field>
											</div>
										</div>

										<div class="form-group kt-form__group row">
											<label class="col-lg-2 col-form-label">Boys Count:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Boys Count" required type="number"
														[(ngModel)]="item.boys" name="boys">
													<!-- <mat-hint align="start">Please enter your full name</mat-hint> -->
												</mat-form-field>
											</div>

											<label class="col-lg-2 col-form-label">Girls Count:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Girls Count" required type="number"
														[(ngModel)]="item.girls" name="girls">
													<!-- <mat-hint align="start">Please enter your full name</mat-hint> -->
												</mat-form-field>
											</div>
										</div>

										<div class="form-group kt-form__group row">
											<label class="col-lg-2 col-form-label">Waiting List Boys:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Waiting list Boys" type="number"
														[(ngModel)]="item.waitingListBoys" name="waitingListBoys">
												</mat-form-field>
											</div>

											<label class="col-lg-2 col-form-label">Waiting List Girls:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Waiting List Girls" type="number"
														[(ngModel)]="item.waitingListGirls" name="waitingListGirls">
												</mat-form-field>
											</div>
										</div>

										<div class="form-group kt-form__group row">
											<label class="col-lg-2 col-form-label">Boys Cabins:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Boys Cabins" required type="number"
														[(ngModel)]="item.boysCabins" name="boysCabins">
												</mat-form-field>
											</div>

											<label class="col-lg-2 col-form-label">Girls Cabins:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Girls Cabins" required type="number"
														[(ngModel)]="item.girlsCabins" name="girlsCabins">
												</mat-form-field>
											</div>
										</div>


										<br>
										<h3 style="display:inline-block;">Meeting Points</h3>
										<button type="button" mat-raised-button color="primary" (click)="onAddRow()"
											class="addRow">Add </button>
										<hr style="border-top: 2px solid #0000001a;">

										<div [formGroup]="addForm">

											<div class="form-group kt-form__group row"
												*ngFor="let row of addForm.get('rows')?.controls;let index = index;">
												<div class="col-md-4">
													<mat-form-field>
														<mat-select placeholder="Select Point"
															[formControl]="row.get('point_id')" required>
															<mat-option *ngFor="let point of points" [value]="point.id">
																{{ point.point }}</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
												<div class="col-md-6">
													<mat-form-field class="example-full-width">
														<input matInput type="time"
															[formControl]="row.get('departure_time')" required>
													</mat-form-field>

													<!-- <ngb-timepicker [formControl]="row.get('departure_time')" [meridian]="true"></ngb-timepicker> -->
												</div>
												<div class="col-md-2"><button type="button" mat-raised-button
														color="warn" (click)="onRemoveRow(index)">Remove</button></div>
											</div>
										</div>

										<br>
										<h3 style="display:inline-block;">Major sports</h3>
										<button type="button" mat-raised-button color="primary" (click)="onAddSport()"
											class="addRow">Add </button>
										<hr style="border-top: 2px solid #0000001a;">

										<div [formGroup]="addForm2">
											<div class="form-group kt-form__group row"
												*ngFor="let row of addForm2.get('rows2')?.controls;let index = index;">
												<div class="col-lg-2 col-md-4">
													<mat-form-field>
														<mat-select placeholder="Select Sport"
															[formControl]="row.get('sport_id')" required>
															<mat-option *ngFor="let sport of sports" [value]="sport.id">
																{{ sport.name }}</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
												<div class="col-lg-2 col-md-4">
													<mat-form-field>
														<mat-select placeholder="Select Gender"
															[formControl]="row.get('gender')" required>
															<mat-option *ngFor="let opt of genders" [value]="opt.key">{{
																opt.value }}</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
												<div class="col-lg-2 col-md-4">
													<mat-form-field class="example-full-width">
														<input matInput placeholder="Seats" type="number"
															[formControl]="row.get('seats')" required>
													</mat-form-field>
												</div>

												<div class="col-lg-2 col-md-4">
													<mat-form-field class="example-full-width">
														<input matInput [matDatepicker]="s1" placeholder="Age From"
															[formControl]="row.get('ageFrom')" required>
														<mat-datepicker-toggle matSuffix [for]="s1">
														</mat-datepicker-toggle>
														<mat-datepicker #s1></mat-datepicker>
													</mat-form-field>
												</div>

												<div class="col-lg-2 col-md-4">
													<mat-form-field class="example-full-width">
														<input matInput [matDatepicker]="s2" placeholder="Age To"
															[formControl]="row.get('ageTo')" required>
														<mat-datepicker-toggle matSuffix [for]="s2">
														</mat-datepicker-toggle>
														<mat-datepicker #s2></mat-datepicker>
													</mat-form-field>
												</div>
												<div class="col-lg-2 col-md-4"><button type="button" mat-raised-button
														color="warn" (click)="onRemoveSport(index)">Remove</button>
												</div>


											</div>
										</div>


									</ng-template>

									<ng-template #family>
										<div class="form-group kt-form__group row">
											<label class="col-lg-2 col-form-label">Allowed Ages:</label>
											<div class="col-lg-4">
												<section class="example-section">
													<mat-checkbox class="example-margin"
														[ngModelOptions]="{standalone: true}"
														[(ngModel)]="item.toThree">0-3
													</mat-checkbox>
													<mat-checkbox class="example-margin"
														[ngModelOptions]="{standalone: true}" [(ngModel)]="item.toSix">
														3-6
													</mat-checkbox>
													<mat-checkbox class="example-margin"
														[ngModelOptions]="{standalone: true}"
														[(ngModel)]="item.plusSix">6+
													</mat-checkbox>
												</section>
											</div>
										</div>

										<div class="form-group kt-form__group row">
											<label class="col-lg-2 col-form-label">Male Cabins:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Male Cabins" required type="number"
														[(ngModel)]="item.MaleCabins" name="MaleCabins">
												</mat-form-field>
											</div>

											<label class="col-lg-2 col-form-label">Female Cabins:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Female Cabins" required type="number"
														[(ngModel)]="item.FemaleCabins" name="FemaleCabins">
												</mat-form-field>
											</div>
										</div>

										<div class="form-group kt-form__group row">
											<label class="col-lg-2 col-form-label">Beds/Cabin:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Cabins Beds" required type="number"
														[(ngModel)]="item.cabinBeds" name="cabinBeds">
												</mat-form-field>
											</div>
										</div>

										<div class="form-group kt-form__group row">
											<label class="col-lg-2 col-form-label">Hotel Rooms:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Hotel Rooms" required type="number"
														[(ngModel)]="item.hotelRooms" name="hotelRooms">
												</mat-form-field>
											</div>
											<label class="col-lg-2 col-form-label">Hotel Beds:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Hotel Beds" required type="number"
														[(ngModel)]="item.hotelBeds" name="hotelBeds">
												</mat-form-field>
											</div>
										</div>
										<div class="form-group kt-form__group row">
											<mat-checkbox class="col-lg-2 col-form-label" [(ngModel)]="doubleRooms"
												[ngModelOptions]="{standalone: true}">
												Double
												Rooms
											</mat-checkbox>
											<div class="col-lg-4">

												<mat-form-field class="example-full-width" *ngIf="doubleRooms">
													<input matInput placeholder="Double Rooms Price" type="number"
														[(ngModel)]="item.doubleRoomsPrice" name="dRooms">
												</mat-form-field>
											</div>
											<mat-checkbox class="col-lg-2 col-form-label" [(ngModel)]="singleRooms"
												[ngModelOptions]="{standalone: true}">
												Single
												Rooms
											</mat-checkbox>
											<div class="col-lg-4">

												<mat-form-field class="example-full-width" *ngIf="singleRooms">
													<input matInput placeholder="Single Rooms Price" type="number"
														[(ngModel)]="item.singleRoomsPrice" name="sRooms">
												</mat-form-field>
											</div>
										</div>
										<div class="form-group kt-form__group row">
											<label class="col-lg-2 col-form-label">Child less 6 years Fees:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="less 6 years child Fees" required
														type="number" [(ngModel)]="item.child3Fees" name="child3Fees">
												</mat-form-field>
											</div>

											<label class="col-lg-2 col-form-label">Child more 6 years Fees:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Child more 6 years Fees" required
														type="number" [(ngModel)]="item.child6Fees" name="child6Fees">
												</mat-form-field>
											</div>
										</div>

										<div class="form-group kt-form__group row">
											<label class="col-lg-2 col-form-label">Bus Fees:</label>
											<div class="col-lg-4">
												<mat-form-field class="example-full-width">
													<input matInput placeholder="Bus Fees" required type="number"
														[(ngModel)]="item.busFees" name="busFees">
												</mat-form-field>
											</div>
										</div>


										<br>
										<h3 style="display:inline-block;">Meeting Points</h3>
										<button type="button" mat-raised-button color="primary" (click)="onAddRow()"
											class="addRow">Add </button>
										<hr style="border-top: 2px solid #0000001a;">

										<!-- <div [formGroup]="addForm">
			<div class="form-group kt-form__group row" *ngFor="let row of addForm.get('rows')?.controls;let index = index;">
					<div class="col-md-4">
							<mat-form-field>
									<mat-select  placeholder="Select Point" [formControl]="row.get('point_id2')">
											<mat-option *ngFor="let point of points" [value]="point.id">{{ point.point }}</mat-option>
									</mat-select>
							</mat-form-field>
					</div>
						<div class="col-md-6">
								<ngb-timepicker [formControl]="row.get('departure_time2')" [meridian]="true"></ngb-timepicker>

								 <!-- <mat-form-field class="example-full-width">
										<input matInput type="time"  [formControl]="row.get('departure_time')"> 
									</mat-form-field>  -->
										<!-- </div>
						<div class="col-md-2"><button  type="button" mat-raised-button color="warn" (click)="onRemoveRow(index)">Remove</button></div>	
				</div> 
			</div>  -->


									</ng-template>
								</div>
							</mat-tab>


							<mat-tab label="Camp Metadata">
								<div class="tab-content">
									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Director:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Director" [(ngModel)]="item.director"
													name="director">
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">Co-Director:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="co-director" [(ngModel)]="item.coDirector"
													name="coDirector">
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Staff head Boys:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Staff head Boys"
													[(ngModel)]="item.staffHeadBoys" name="staffHeadBoys">
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">Staff head girls:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Staff head girls"
													[(ngModel)]="item.staffHeadGirls" name="staffHeadGirls">
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Admin head:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Admin head" [(ngModel)]="item.adminHead"
													name="adminHead">
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">Admin Assistant:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Admin Assistant"
													[(ngModel)]="item.adminAssistant" name="adminAssistant">
											</mat-form-field>
										</div>
									</div>


									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Sports Head:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Sports Head" [(ngModel)]="item.sportsHead"
													name="sportsHead">
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">Sports Assistant:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Sports Assistant"
													[(ngModel)]="item.sportsAssistant" name="sportsAssistant">
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Camp Coach:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Camp Coach" [(ngModel)]="item.campCoach"
													name="campCoach">
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">Ignite Head:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Ignite Head" [(ngModel)]="item.igniteHead"
													name="igniteHead">
											</mat-form-field>
										</div>
									</div>



									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Mic Man:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Mic Man" [(ngModel)]="item.micMan"
													name="micMan">
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">Camp phone:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Camp phone" [(ngModel)]="item.campPhone"
													name="campPhone">
											</mat-form-field>
										</div>

									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Theme Designer:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="camp Coach"
													[(ngModel)]="item.themeDesigner" name="themeDesigner">
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">contact Number:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="contact Number"
													[(ngModel)]="item.contactNumber" name="contactNumber">
											</mat-form-field>
										</div>
									</div>

									<br>
									<h3>Specialized Staff</h3>
									<hr>
									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Camp doctor:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Camp doctor" [(ngModel)]="item.campDoctor"
													name="campDoctor">
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">Photographer:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Photographer"
													[(ngModel)]="item.photographer" name="photographer">
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Sound man:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Sound man" [(ngModel)]="item.soundMan"
													name="soundMan">
											</mat-form-field>
										</div>

									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Blacklist:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Blacklist" [(ngModel)]="item.blacklist"
													name="blacklist">
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">Major medical cases and actions:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Major medical cases and actions"
													[(ngModel)]="item.medicalCases" name="medicalCases">
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Winner team:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Winner team" [(ngModel)]="item.winnerTeam"
													name="winnerTeam">
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-lg-2 col-form-label">Major issues:</label>
										<div class="col-lg-4">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Major issues"
													[(ngModel)]="item.majorIssues" name="majorIssues">
											</mat-form-field>
										</div>

										<label class="col-lg-2 col-form-label">Camp theme:</label>
										<div class="col-lg-4">
											<input type="file" placeholder="Camp theme" [(ngModel)]="campTheme"
												name="campTheme">
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<label class="col-form-label">Comments:</label>
										<mat-form-field class="example-full-width">
											<textarea matInput placeholder="Comments" [(ngModel)]="item.comments"
												name="comments"></textarea>
										</mat-form-field>
									</div>

								</div>
							</mat-tab>
							<!-- =====================================================================Summery==================== -->
							<mat-tab label="Summery">
								<div class="tab-content">
									<!-- summery -->

									<div class="row">
										<label class="col-lg-2 ">Event Name:</label>
										<div class="col-lg-4">
											{{ item.name }}
										</div>

										<label class="col-lg-2">Type:</label>
										<div class="col-lg-4">
											{{ item.type }}
										</div>
									</div>

									<div class="row">
										<label class="col-lg-2">Event location:</label>
										<div class="col-lg-4">
											{{ item.eventlocation }}
										</div>
									</div>

									<div class="row">
										<label class="col-lg-2">Description:</label>
										<div class="col-lg-6">
											{{item.description}}
										</div>
									</div>

									<div class="row">
										<label class="col-lg-2">Event From:</label>
										<div class="col-lg-4">
											{{item.startDate | date:'d-M-yyyy'}}
										</div>

										<label class="col-lg-2">Event To:</label>
										<div class="col-lg-4">
											{{item.endDate | date:'d-M-yyyy'}}
										</div>
									</div>

									<div class="row">
										<label class="col-lg-2">Publish Date:</label>
										<div class="col-lg-4">
											{{item.publishDate | date:'d-M-yyyy'}}
										</div>

										<label class="col-lg-2">Opening Date:</label>
										<div class="col-lg-4">
											{{item.openingDate | date:'d-M-yyyy'}}
										</div>
									</div>

									<div class="row">
										<label class="col-lg-2">Closing Date:</label>
										<div class="col-lg-4">
											{{item.closingDate | date:'d-M-yyyy'}}
										</div>
									</div>

									<div class="row">
										<label class="col-lg-2">Fees:</label>
										<div class="col-lg-4">
											{{fees}}
										</div>
									</div>


									<div class="row" *ngIf="ageFrom">
										<label class="col-lg-2 col-form-label">Age From:</label>
										<div class="col-lg-4">
											{{ageFrom}}
										</div>
									</div>

									<div class="row" *ngIf="ageTo">
										<label class="col-lg-2 col-form-label">Age to:</label>
										<div class="col-lg-4">
											{{ageTo}}
										</div>
									</div>

									<div class="row" *ngIf="boys">
										<label class="col-lg-2 col-form-label">Boys Count:</label>
										<div class="col-lg-4">
											{{boys}}
										</div>
									</div>

									<div class="row" *ngIf="girls">
										<label class="col-lg-2 col-form-label">Girls Count:</label>
										<div class="col-lg-4">
											{{girls}}
										</div>
									</div>

									<div class="row" *ngIf="waitingListBoys">
										<label class="col-lg-2 col-form-label">Waiting List Boys:</label>
										<div class="col-lg-4">
											{{waitingListBoys}}
										</div>
									</div>

									<div class="row" *ngIf="waitingListGirls">
										<label class="col-lg-2 col-form-label">Waiting List Girls:</label>
										<div class="col-lg-4">
											{{waitingListGirls}}
										</div>
									</div>

									<div class="row" *ngIf="boysCabins">
										<label class="col-lg-2 col-form-label">Boys Cabins:</label>
										<div class="col-lg-4">
											{{boysCabins}}
										</div>
									</div>

									<div class="row" *ngIf="girlsCabins">
										<label class="col-lg-2 col-form-label">Girls Cabins:</label>
										<div class="col-lg-4">
											{{girlsCabins}}
										</div>
									</div>

									<div class="row" *ngIf="MaleCabins">
										<label class="col-lg-2 col-form-label">Male Cabins:</label>
										<div class="col-lg-4">
											{{MaleCabins}}
										</div>
									</div>

									<div class="row" *ngIf="FemaleCabins">
										<label class="col-lg-2 col-form-label">Female Cabins:</label>
										<div class="col-lg-4">
											{{FemaleCabins}}
										</div>
									</div>

									<div class="row" *ngIf="cabinBeds">
										<label class="col-lg-2 col-form-label">Beds/Cabin:</label>
										<div class="col-lg-4">
											{{cabinBeds}}
										</div>
									</div>

									<div class="row" *ngIf="hotelRooms">
										<label class="col-lg-2 col-form-label">Hotel Rooms:</label>
										<div class="col-lg-4">
											{{hotelRooms}}
										</div>
									</div>

									<div class="row" *ngIf="hotelBeds">
										<label class="col-lg-2 col-form-label">Hotel Beds:</label>
										<div class="col-lg-4">
											{{hotelBeds}}
										</div>
									</div>

									<div class="row" *ngIf="child3Fees">
										<label class="col-lg-2 col-form-label">Child less 6 years Fees:</label>
										<div class="col-lg-4">
											{{child3Fees}}
										</div>
									</div>

									<div class="row" *ngIf="child6Fees">
										<label class="col-lg-2 col-form-label">Child more 6 years Fees:</label>
										<div class="col-lg-4">
											{{child6Fees}}
										</div>
									</div>


									<div class="row" *ngIf="busFees">
										<label class="col-lg-2 col-form-label">Bus Fees:</label>
										<div class="col-lg-4">
											{{busFees}}
										</div>
									</div>

									<br>
									<h4>Camp Metadata</h4>
									<hr>

									<div class="row" *ngIf="director">
										<label class="col-lg-2 col-form-label">Director:</label>
										<div class="col-lg-4">
											{{director}}
										</div>
									</div>

									<div class="row" *ngIf="coDirector">
										<label class="col-lg-2 col-form-label">Co-Director:</label>
										<div class="col-lg-4">
											{{coDirector}}
										</div>
									</div>

									<div class="row" *ngIf="staffHeadBoys">
										<label class="col-lg-2 col-form-label">Staff head Boys:</label>
										<div class="col-lg-4">
											{{staffHeadBoys}}
										</div>
									</div>

									<div class="row" *ngIf="staffHeadGirls">
										<label class="col-lg-2 col-form-label">Staff head girls:</label>
										<div class="col-lg-4">
											{{staffHeadGirls}}
										</div>
									</div>

									<div class="row" *ngIf="adminHead">
										<label class="col-lg-2 col-form-label">Admin head:</label>
										<div class="col-lg-4">
											{{adminHead}}
										</div>
									</div>

									<div class="row" *ngIf="adminAssistant">
										<label class="col-lg-2 col-form-label">Admin Assistant:</label>
										<div class="col-lg-4">
											{{adminAssistant}}
										</div>
									</div>

									<div class="row" *ngIf="sportsHead">
										<label class="col-lg-2 col-form-label">Sports Head:</label>
										<div class="col-lg-4">
											{{sportsHead}}
										</div>
									</div>

									<div class="row" *ngIf="sportsAssistant">
										<label class="col-lg-2 col-form-label">Sports Assistant:</label>
										<div class="col-lg-4">
											{{sportsAssistant}}
										</div>
									</div>

									<div class="row" *ngIf="campCoach">
										<label class="col-lg-2 col-form-label">Camp Coach:</label>
										<div class="col-lg-4">
											{{campCoach}}
										</div>
									</div>

									<div class="row" *ngIf="igniteHead">
										<label class="col-lg-2 col-form-label">Ignite Head:</label>
										<div class="col-lg-4">
											{{igniteHead}}
										</div>
									</div>

									<div class="row" *ngIf="micMan">
										<label class="col-lg-2 col-form-label">Mic Man:</label>
										<div class="col-lg-4">
											{{micMan}}
										</div>
									</div>

									<div class="row" *ngIf="campPhone">
										<label class="col-lg-2 col-form-label">Camp phone:</label>
										<div class="col-lg-4">
											{{campPhone}}
										</div>
									</div>

									<div class="row" *ngIf="themeDesigner">
										<label class="col-lg-2 col-form-label">Theme Designer:</label>
										<div class="col-lg-4">
											{{themeDesigner}}
										</div>
									</div>

									<div class="row" *ngIf="contactNumber">
										<label class="col-lg-2 col-form-label">contact Number:</label>
										<div class="col-lg-4">
											{{contactNumber}}
										</div>
									</div>

									<div class="row" *ngIf="campDoctor">
										<label class="col-lg-2 col-form-label">Camp doctor:</label>
										<div class="col-lg-4">
											{{campDoctor}}
										</div>
									</div>

									<div class="row" *ngIf="photographer">
										<label class="col-lg-2 col-form-label">Photographer:</label>
										<div class="col-lg-4">
											{{photographer}}
										</div>
									</div>

									<div class="row" *ngIf="soundMan">
										<label class="col-lg-2 col-form-label">Sound man:</label>
										<div class="col-lg-4">
											{{soundMan}}
										</div>
									</div>

									<div class="row" *ngIf="blacklist">
										<label class="col-lg-2 col-form-label">Blacklist:</label>
										<div class="col-lg-4">
											{{blacklist}}
										</div>
									</div>

									<div class="row" *ngIf="medicalCases">
										<label class="col-lg-2 col-form-label">Major medical cases and actions:</label>
										<div class="col-lg-4">
											{{medicalCases}}
										</div>
									</div>

									<div class="row" *ngIf="winnerTeam">
										<label class="col-lg-2 col-form-label">Winner team:</label>
										<div class="col-lg-4">
											{{winnerTeam}}
										</div>
									</div>


									<div class="row" *ngIf="majorIssues">
										<label class="col-lg-2 col-form-label">Major issues:</label>
										<div class="col-lg-4">
											{{majorIssues}}
										</div>
									</div>

									<div class="row" *ngIf="campTheme">
										<label class="col-lg-2 col-form-label">Camp theme:</label>
										<div class="col-lg-4">
											{{campTheme}}
										</div>
									</div>


									<div class="row" *ngIf="comments">
										<label class="col-lg-2 col-form-label">Comments:</label>
										<div class="col-lg-4">
											{{comments}}
										</div>
									</div>

								</div>
							</mat-tab>

						</mat-tab-group>

					</div>

					<div class="kt-form__seperator kt-form__seperator--dashed"></div>
				</div>
				<div class="kt-portlet__foot">
					<div class="kt-form__actions kt-form__actions">
						<div class="row">
							<div class="col-lg-6">
								<button mat-raised-button color="primary" (click)="f.form.valid && onSubmit(f)"
									[disabled]="f.form.invalid">Save Data</button>&nbsp;
								<button mat-raised-button (click)="cancel()">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>