.underline {
  border-bottom: 1px dashed #ebedf2;
}
.gender-info {
  color: #44c4ff !important;
}
.gender-danger {
  color: #fd22eb !important;
}
.bg-infog {
  background-color: #44c4ff !important;
}
.bg-danger {
  background-color: #fd22eb !important;
}
.kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-text {
  padding: 0.35rem 0 0 9rem;
}
.kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-cricle {
  left: 8.12rem;
}
.kt-timeline-v2:before {
  left: 8.85rem;
}
.kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-time {
  font-size: 1rem;
  font-size: 1rem;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label {
  width: 100% !important;
}
.applicants {
  color: #48cc55 !important;
}
.green-bg {
  background-color: #48cc55 !important;
  color: #fff;
}
.payments {
  color: #244de2 !important;
}
.bg-success {
  background-color: #244de2 !important;
}
.inline {
  display: inline-block;
}
.icon {
  height: 45px;
  margin-right: 5px;
}

// .my-mat-cell,.my-mat-header-cell {
//   text-align: center;
// }

.mat-column-firstName {
  flex: 25%;
}

.vcenter {
  padding-top: 15px;
}
