<div class="row">
  <div class="col-sm-12">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-body>
        <div class="row">
          <div class="col-md-2 col-sm-3 hidden-xs">
            <img src="assets/icons/Dashboard.svg" style="width:100%;max-width:100px;">
          </div>
          <div class="col-md-10 col-sm-9 col-xs-12">
            <h3>Kids Games Camps Dashboard</h3>
            <div class="row">

              <div style="display: inline-block;margin-right: 20px;">
                <mat-form-field>
                  <mat-select placeholder="Year" [(ngModel)]="yearValue" name="year"
                    (selectionChange)="selectChangeHandler()">
                    <mat-option *ngFor="let item of years" [value]="item.year">
                      {{item.year}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div style="display: inline-block;" *ngIf="camps">
                <mat-form-field>
                  <mat-select placeholder="Camp Name" [(ngModel)]="campValue" name="camp"
                    (selectionChange)="getCampData()">
                    <mat-option *ngFor="let camp of camps" [value]="camp.id">
                      {{camp.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- <div class="row">
                  <div class="col-lg-2 col-md-3">
                      <h4>Reports:</h4>
                  </div>
                  <div class="col-lg-10 col-md-9">
                    <a href="https://bluesoftec.net/kgc/export_reports/profiles.php?event_id={{campValue}}" class="btn btn-success margin5" target="_blank"> Profile Data</a>&nbsp;
                    <a href="https://bluesoftec.net/kgc/export_reports/payments.php?event_id={{campValue}}" class="btn btn-success margin5" target="_blank"> Payments</a>&nbsp;
                    <a href="https://bluesoftec.net/kgc/export_reports/camp.php?event_id={{campValue}}" class="btn btn-success margin5" target="_blank"> Camp Data</a>&nbsp;
                    <a href="https://bluesoftec.net/kgc/export_reports/medical.php?event_id={{campValue}}" class="btn btn-success margin5" target="_blank"> Medical Cases</a>&nbsp;
                    <a href="https://bluesoftec.net/kgc/export_reports/cabins.php?event_id={{campValue}}" class="btn btn-success margin5" target="_blank"> Cabins</a>&nbsp;
                    </div>
              </div> -->
          </div>

        </div>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>

<div class="row" *ngFor="let item of items">
  <!-- All -->
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
    <kt-portlet>
      <kt-portlet-body>

        <div style="border-bottom: 1px solid #ebedf2;padding-bottom: 10px;margin-bottom: 15px;">
          <div class="row">
            <div class="col-8"><img src="assets/icons/Applicants.svg" class="icon">
              <h4 class="inline"> Applicants</h4>
            </div>
            <div class="col-4 text-right">
              <h1 class="applicants">{{item.allApplicants}}</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-9"><b>Applications</b></div>
          <div class="col-3 text-right"><b>{{item.allApplicants}}</b></div>
          <div class="col-9">Paid</div>
          <div class="col-3 text-right">{{item.all_paid}}</div>
          <div class="col-9">Paid waiting list</div>
          <div class="col-3 text-right">{{item.paid_waiting}}</div>
          <div class="col-9">Unpaid waiting list</div>
          <div class="col-3 text-right">{{item.unpaid_waiting}}</div>
          <div class="col-9">Remaining seats</div>
          <div class="col-3 text-right">{{(item.boys + item.girls) - item.all_paid}}</div>
          <div class="col-9">Remaining waiting list</div>
          <div class="col-3 text-right" *ngIf="item.paid_waiting < (item.waitingListBoys + item.waitingListGirls)">
            {{ (item.waitingListBoys + item.waitingListGirls) - (item.paid_waiting)}}</div>
          <div class="col-3 text-right" *ngIf="item.paid_waiting > (item.waitingListBoys + item.waitingListGirls)">
            0</div>
        </div>

      </kt-portlet-body>
    </kt-portlet>
  </div>

  <!-- Payments -->
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
    <kt-portlet>
      <kt-portlet-body>

        <div style="border-bottom: 1px solid #ebedf2;padding-bottom: 10px;margin-bottom: 15px;">
          <div class="row">
            <div class="col-7"><img src="assets/icons/Payment.svg" class="icon">
              <h4 class="inline">Payments</h4>
            </div>
            <div class="col-5 text-right">
              <h2 class="payments">{{item.all_payment}} </h2>
            </div>
          </div>
          <!-- <ngb-progressbar class="payments-bg" [value]="item.all_payment" 
                                [striped]="true" [animated]="true" [max]="calculate(item.all_payment,item.remaining_payment)" height="7px">
                </ngb-progressbar> -->
        </div>

        <div class="row">
          <div class="col-9"><b>Total paid</b></div>
          <div class="col-3 text-right"><b>{{item.all_payment? item.all_payment : 0}}</b></div>
          <div class="col-9">Remaining payments</div>
          <div class="col-3 text-right">{{item.remaining_payment? item.remaining_payment : 0}}</div>
          <div class="col-9">Paid online</div>
          <div class="col-3 text-right">{{item.online_paid? item.online_paid : 0}}</div>
          <div class="col-9">Paid Cash</div>
          <div class="col-3 text-right">{{item.cash_paid? item.cash_paid : 0}}</div>
          <div class="col-9">Paid waiting list</div>
          <div class="col-3 text-right">{{item.paid_waiting? item.paid_waiting : 0}}</div>
          <div class="col-9">Refunded</div>
          <div class="col-3 text-right">{{item.refunded? item.refunded : 0}}</div>
        </div>

      </kt-portlet-body>
    </kt-portlet>
  </div>

  <!-- Boys -->
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
    <kt-portlet>
      <kt-portlet-body>

        <div style="border-bottom: 1px solid #ebedf2;padding-bottom: 10px;margin-bottom: 15px;">
          <div class="row">
            <div class="col-7"><img src="assets/icons/Boys_Ticket.svg" class="icon">
              <h4 class="inline">Boys</h4>
            </div>
            <div class="col-5 text-right">
              <h1 class="gender-info">{{item.boys}}</h1>
            </div>
          </div>
          <ngb-progressbar [value]="item.paid_males" [max]="item.boys" height="7px"></ngb-progressbar>
        </div>

        <div class="row">
          <div class="col-9"><b>Boys booked</b></div>
          <div class="col-3 text-right"><b>{{item.all_males}}</b></div>
          <div class="col-9">Boys paid</div>
          <div class="col-3 text-right">{{item.paid_males}}</div>
          <div class="col-9">Paid waiting list</div>
          <div class="col-3 text-right">{{item.all_males_paid_waitinglist}}</div>
          <div class="col-9">Unpaid waiting list</div>
          <div class="col-3 text-right">{{item.unpaid_waiting_males}}</div>
          <div class="col-9">Boys remaining seats</div>
          <div class="col-3 text-right">{{item.boys -item.paid_males}}</div>
          <div class="col-9">Remaining waiting list</div>
          <div class="col-3 text-right" *ngIf="item.waitingListBoys > item.all_males_paid_waitinglist">{{
            item.waitingListBoys - item.all_males_paid_waitinglist }}</div>
          <div class="col-3 text-right" *ngIf="item.waitingListBoys < item.all_males_paid_waitinglist">0</div>
        </div>

      </kt-portlet-body>
    </kt-portlet>
  </div>
  <!-- Girls -->
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
    <kt-portlet>
      <kt-portlet-body>

        <div style="border-bottom: 1px solid #ebedf2;padding-bottom: 10px;margin-bottom: 15px;">
          <div class="row">
            <div class="col-7"><img src="assets/icons/Girls_Ticket.svg" class="icon">
              <h4 class="inline">Girls</h4>
            </div>
            <div class="col-5 text-right">
              <h1 class="gender-danger">{{item.girls}} </h1>
            </div>
          </div>
          <ngb-progressbar type="danger" [value]="item.paid_females" [max]="item.girls" height="7px" sty>
          </ngb-progressbar>
        </div>

        <div class="row">
          <div class="col-9"><b>Girls booked</b></div>
          <div class="col-3 text-right"><b>{{item.all_females}}</b></div>
          <div class="col-9">Girls paid</div>
          <div class="col-sm-3 text-right">{{item.paid_females}}</div>
          <div class="col-9">Paid waiting list</div>
          <div class="col-3 text-right">{{item.all_females_paid_waitinglist}}</div>
          <div class="col-9">Unpaid waiting list</div>
          <div class="col-3 text-right">{{item.unpaid_waiting_females}}</div>
          <div class="col-9">Girls remaining seats</div>
          <div class="col-3 text-right">{{item.girls -item.paid_females}}</div>
          <div class="col-9">Remaining waiting list</div>
          <div class="col-3 text-right" *ngIf="item.waitingListGirls > item.all_females_paid_waitinglist">{{
            item.waitingListGirls - item.all_females_paid_waitinglist }}</div>
          <div class="col-3 text-right" *ngIf="item.waitingListGirls < item.all_females_paid_waitinglist">0</div>
        </div>

      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <kt-portlet>
      <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTitle>
          <img src="assets/icons/Payments.svg" class="icon">
          <h4 class="inline kt-portlet__head-title">Booking & Payment status</h4>
        </ng-container>
        <ng-container ktPortletTools>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>

        <div class="row">
          <div class="kt-form__control col-md-6">
            <mat-form-field>
              <mat-select placeholder="Method Filter" (selectionChange)="applyFilter($event.value)"
                class="mat-form-field mat-form-field-fluid">
                <mat-option *ngFor="let opt of method" [value]="opt">{{ opt }}</mat-option>
              </mat-select>

              <mat-hint align="start">
                <strong>Filter by method</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="kt-form__control col-md-6">
            <mat-form-field>
              <mat-select placeholder="Status Filter" (selectionChange)="applyFilter($event.value)"
                class="mat-form-field mat-form-field-fluid">
                <mat-option *ngFor="let opt of options" [value]="opt">{{ opt }}</mat-option>
              </mat-select>

              <mat-hint align="start">
                <strong>Filter by Payment Status</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>

        <mat-table #table1 [dataSource]="dataSource1" #sort1="matSort" matSort>

          <ng-container matColumnDef="firstName" style="flex:40%;">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Camper Name </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <button (click)="edit(item.id)" mat-icon-button matTooltip="Edit">
                {{item.firstName}} {{item.middleName}} {{item.familyName}}
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="paymentStatus">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Status </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <span
                class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClass(item.paymentStatus) }} kt-badge--wide">
                {{ item.paymentStatus }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="paymentMethod">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Method </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.paymentMethod}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="created_at" style="flex:15%;">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.created_at | date:'MMM d'}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [length]="resultsLength1" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50, 100]"
          [showFirstLastButtons]="true"></mat-paginator>
      </kt-portlet-body>
    </kt-portlet>
  </div>

  <div class="col-lg-6 col-md-12">
    <kt-portlet>
      <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTitle>
          <img src="assets/icons/Bus.svg" class="icon">
          <h5 class="inline kt-portlet__head-title">Booked Campers Data</h5>
        </ng-container>
      </kt-portlet-header>

      <kt-portlet-body>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="T-Shirt Filter" (selectionChange)="applyFilter2($event.value)"
                class="mat-form-field mat-form-field-fluid">
                <mat-option *ngFor="let opt of tshirts" [value]="opt">{{ opt }}</mat-option>
              </mat-select>

              <mat-hint align="start">
                <strong>Filter by T-shirt size</strong>
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Meeting Points Filter" (selectionChange)="applyFilter2($event.value)"
                class="mat-form-field mat-form-field-fluid">
                <mat-option *ngFor="let opt of meetingpoints" [value]="opt.point">{{ opt.point }}</mat-option>
              </mat-select>

              <mat-hint align="start">
                <strong>Filter by Meeting Point</strong>
              </mat-hint>
            </mat-form-field>

          </div>
        </div>

        <mat-form-field>
          <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Search">
        </mat-form-field>

        <mat-table #table2 [dataSource]="dataSource2" #sort2="matSort" matSort>

          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Camper Name </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <button (click)="edit(item.id)" mat-icon-button matTooltip="Edit">
                {{item.firstName}} {{item.middleName}} {{item.familyName}}
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="point">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Meeting Point</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.point}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="tshirt">
            <mat-header-cell *matHeaderCellDef mat-sort-header> T-shirt Size </mat-header-cell>
            <mat-cell *matCellDef="let item">
              {{ item.tshirt }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cabin">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cabin </mat-header-cell>
            <mat-cell *matCellDef="let item">
              {{ item.cabin }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
        </mat-table>
        <mat-paginator #paginator2 [length]="resultsLength2" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50, 100]"
          [showFirstLastButtons]="true"></mat-paginator>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>

<div class="row">

  <!--   
    <div class="col-lg-6 col-md-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Sharm Elsheikh Event'">
                <img src="assets/icons/chart.svg" class="icon">
              <ng-container ktPortletTools>
              </ng-container>
            </kt-portlet-header>
            <kt-portlet-body>
              <kt-widget12></kt-widget12>
            </kt-portlet-body>
          </kt-portlet>
      </div> -->

  <div class="col-lg-6 col-md-12">
    <kt-portlet>
      <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTitle>
          <img src="assets/icons/Payments.svg" class="icon">
          <h4 class="inline kt-portlet__head-title">Reports</h4>
        </ng-container>
        <ng-container ktPortletTools>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>
        <div class="row">
          <div class="col-6" style="padding-top: 15px;"><b>Profile Data</b></div>
          <div class="col-6 text-right">
            <a href="/export_reports/profiles.php?event_id={{campValue}}" class="btn btn-success margin5"
              target="_blank"> Download</a>
          </div>
          <div class="col-6" style="padding-top: 15px;"><b>Payments</b></div>
          <div class="col-6 text-right">
            <a href="/export_reports/payments.php?event_id={{campValue}}" class="btn btn-success margin5"
              target="_blank"> Download</a>
          </div>
          <div class="col-6" style="padding-top: 15px;"><b>Camp Data</b></div>
          <div class="col-6 text-right">
            <a href="/export_reports/camp.php?event_id={{campValue}}" class="btn btn-success margin5" target="_blank">
              Download</a>
          </div>
          <div class="col-6" style="padding-top: 15px;"><b>Medical Cases</b></div>
          <div class="col-6 text-right">
            <a href="/export_reports/medical.php?event_id={{campValue}}" class="btn btn-success margin5"
              target="_blank"> Download</a>
          </div>
          <div class="col-6" style="padding-top: 15px;"><b>Cabins</b></div>
          <div class="col-6 text-right">
            <a href="/export_reports/cabins.php?event_id={{campValue}}" class="btn btn-success margin5" target="_blank">
              Download</a>
          </div>
          <div class="col-6" style="padding-top: 15px;"><b>Meeting Points</b></div>
          <div class="col-6 text-right">
            <a href="/export_reports/meeting.php?event_id={{campValue}}" class="btn btn-success margin5"
              target="_blank"> Download</a>
          </div>
          <div class="col-6" style="padding-top: 15px;"><b>Distribution</b></div>
          <div class="col-6 text-right">
            <a href="/export_reports/event_list.php?do=report&event_id={{campValue}}" class="btn btn-success margin5"
              target="_blank"> Download</a>
          </div>
          <div class="col-6" style="padding-top: 15px;"><b>Bus sheet</b></div>
          <div class="col-6 text-right">
            <a href="/export_reports/bus.php?event_id={{campValue}}" class="btn btn-success margin5" target="_blank">
              Download</a>
          </div>
          <div class="col-6" style="padding-top: 15px;"><b>All Teams</b></div>
          <div class="col-6 text-right">
            <a href="/export_reports/team.php?event_id={{campValue}}" class="btn btn-success margin5" target="_blank">
              Download</a>
          </div>
          <div class="col-6" style="padding-top: 15px;"><b>Teams 6+</b></div>
          <div class="col-6 text-right">
            <a href="/export_reports/team_6.php?event_id={{campValue}}" class="btn btn-success margin5" target="_blank">
              Download</a>
          </div>
          <div class="col-6" style="padding-top: 15px;" *ngIf="campType =='Family'"><b>Hotels</b></div>
          <div class="col-6 text-right" *ngIf="campType =='Family'">
            <a href="/export_reports/hotels.php?do=report&event_id={{campValue}}" class="btn btn-success margin5"
              target="_blank"> Download</a>
          </div>


          <div class="col-6" style="padding-top: 15px;" *ngIf="campType =='Family'"><b>Kids From 3 To 6</b></div>
          <div class="col-6 text-right" *ngIf="campType =='Family'">
            <a href="/export_reports/kids_3_6.php?do=report&event_id={{campValue}}" class="btn btn-success margin5"
              target="_blank"> Download</a>
          </div>
          <div class="col-6" style="padding-top: 15px;" *ngIf="campType =='Family'"><b>Kids From 6</b></div>
          <div class="col-6 text-right" *ngIf="campType =='Family'">
            <a href="/export_reports/kids_6.php?do=report&event_id={{campValue}}" class="btn btn-success margin5"
              target="_blank"> Download</a>
          </div>
          <div class="col-6" style="padding-top: 15px;"><b>Generate Distribution</b></div>
          <div class="col-6 text-right" style="cursor: pointer;">
            <a (click)="GenerateDistribution()" class="btn btn-success margin5" target="_blank"
              style="color: #fff !important;"> Generate. </a>
          </div>
        </div>
      </kt-portlet-body>
    </kt-portlet>
  </div>
  <div class="col-lg-6 col-md-12">
    <kt-portlet>
      <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTitle>
          <img src="assets/icons/Last_Payments.svg" class="icon">
          <h4 class="inline kt-portlet__head-title">Latest Payments</h4>
        </ng-container>

      </kt-portlet-header>

      <kt-portlet-body>

        <div perfectScrollbar class="kt-timeline-v2">
          <div class="kt-timeline-v2__items kt-padding-top-25 kt-padding-bottom-30">
            <ng-container *ngFor="let item of lastbooking">
              <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
            </ng-container>
          </div>
        </div>

        <ng-template #itemTemplate let-item="item">
          <div class="kt-timeline-v2__item">
            <span class="kt-timeline-v2__item-time">{{item.updated_at | date:'d-M hh:mm a'}}</span>
            <div class="kt-timeline-v2__item-cricle">
              <i class="fa fa-genderless gender-{{ getItemCssClass(item.gender) }}"></i>
            </div>
            <div class="kt-timeline-v2__item-text kt-padding-top-5">
              {{item.firstName}} {{item.middleName}} paid {{item.paymentMethod}} ({{item.status}})
            </div>
          </div>
        </ng-template>
      </kt-portlet-body>
    </kt-portlet>

  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <kt-portlet>
      <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTitle>
          <img src="assets/icons/Medical.svg" class="icon">
          <h4 class="inline kt-portlet__head-title">Medical conditions</h4>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Medical Issues" (selectionChange)="applyFilter4($event.value)"
                class="mat-form-field mat-form-field-fluid">
                <mat-option *ngFor="let opt of values" [value]="opt.key">{{ opt.value }}</mat-option>
              </mat-select>

              <mat-hint align="start">
                <strong>Medical Issues</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Food Allergy" (selectionChange)="applyFilter4($event.value)"
                class="mat-form-field mat-form-field-fluid">
                <mat-option *ngFor="let opt of values" [value]="opt.key">{{ opt.value }}</mat-option>
              </mat-select>

              <mat-hint align="start">
                <strong>Food Allergy</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>


        <mat-form-field>
          <input matInput (keyup)="applyFilter4($event.target.value)" placeholder="Search">
        </mat-form-field>

        <mat-table #table4 [dataSource]="dataSource4" #sort4="matSort" matSort>

          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Camper Name</mat-header-cell>
            <mat-cell *matCellDef="let item">
              <button (click)="editProfile(item.id)" mat-icon-button color="primary" matTooltip="Edit">
                {{item.firstName}} {{item.middleName}} {{item.familyName}}
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="medicalIssues">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Medical Issues </mat-header-cell>
            <mat-cell *matCellDef="let item">
              {{ item.medicalIssues }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="foodAllergy">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Food Allergy</mat-header-cell>
            <mat-cell *matCellDef="let item">
              {{ item.foodAllergy }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ongoingMedication">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Ongoing Medication</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.ongoingMedication}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns4"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns4;"></mat-row>
        </mat-table>
        <mat-paginator #paginator4 [length]="resultsLength4" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50, 100]"
          [showFirstLastButtons]="true"></mat-paginator>
      </kt-portlet-body>
    </kt-portlet>
  </div>

  <div class="col-lg-6 col-md-12">
    <kt-portlet>
      <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTitle>
          <img src="assets/icons/Medal.svg" class="icon">
          <h4 class="inline kt-portlet__head-title">Teams & Sports Major</h4>
        </ng-container>
      </kt-portlet-header>

      <kt-portlet-body>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Team Filter" (selectionChange)="applyFilter3($event.value)"
                [(ngModel)]="selected2" class="mat-form-field mat-form-field-fluid">
                <mat-option *ngFor="let opt of teamsOptions" [value]="opt.key">{{ opt.value }}</mat-option>
              </mat-select>

              <mat-hint align="start">
                <strong>Filter by team</strong>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Sports Filter" (selectionChange)="applyFilter3($event.value)"
                class="mat-form-field mat-form-field-fluid">
                <mat-option *ngFor="let opt of sports" [value]="opt.name">{{ opt.name }}</mat-option>
              </mat-select>

              <mat-hint align="start">
                <strong>Filter by sport</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field>
          <input matInput (keyup)="applyFilter3($event.target.value)" placeholder="Search">
        </mat-form-field>

        <mat-table #table3 [dataSource]="dataSource3" #sort3="matSort" matSort>

          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Camper Name </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <button (click)="edit(item.id)" mat-icon-button matTooltip="Edit">
                {{item.firstName}} {{item.middleName}} {{item.familyName}}
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="team">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <span
                class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClass(item.team) }} kt-badge--wide">
                {{ item.team }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="subteam">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Sub-team</mat-header-cell>
            <mat-cell *matCellDef="let item">
              <span *ngIf="item">
                {{item.team.charAt(0)}}{{ item.subteam }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sport">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sports Major</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.sports}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>
        </mat-table>
        <mat-paginator #paginator3 [length]="resultsLength3" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50, 100]"
          [showFirstLastButtons]="true"></mat-paginator>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <kt-portlet>
      <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTitle>
          <img src="assets/icons/meetingPoint.svg" class="icon">
          <h4 class="inline kt-portlet__head-title">Meeting Points</h4>
        </ng-container>
        <ng-container ktPortletTools>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>

        <mat-form-field>
          <input matInput (keyup)="applyFilter6($event.target.value)" placeholder="Search">
        </mat-form-field>

        <mat-table #table5 [dataSource]="dataSource6">
          <ng-container matColumnDef="point">
            <mat-header-cell *matHeaderCellDef> Meeting Point </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.mp}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="count">
            <mat-header-cell *matHeaderCellDef> Count </mat-header-cell>
            <mat-cell *matCellDef="let item">
              {{ item.count }}
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns6"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns6;"></mat-row>
        </mat-table>
      </kt-portlet-body>
    </kt-portlet>
  </div>

  <div class="col-lg-6 col-md-12">
    <kt-portlet>
      <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTitle>
          <img src="assets/icons/T-Shirt.svg" class="icon">
          <h4 class="inline kt-portlet__head-title">T-shirt Sizes Summary</h4>
        </ng-container>
        <ng-container ktPortletTools>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>

        <mat-form-field>
          <input matInput (keyup)="applyFilter5($event.target.value)" placeholder="Search">
        </mat-form-field>
        <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClass('Alpha') }} kt-badge--wide">
          Alpha
        </span>
        <mat-table #table5 [dataSource]="dataSource5">
          <ng-container matColumnDef="xs">
            <mat-header-cell *matHeaderCellDef> X-Small </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.xs}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="s">
            <mat-header-cell *matHeaderCellDef> Small </mat-header-cell>
            <mat-cell *matCellDef="let item">
              {{ item.s }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="m">
            <mat-header-cell *matHeaderCellDef> Medium </mat-header-cell>
            <mat-cell *matCellDef="let item">
              {{ item.m }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="l">
            <mat-header-cell *matHeaderCellDef> Large </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.l}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="xl">
            <mat-header-cell *matHeaderCellDef> X-Large </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.xl}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns5"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns5;"></mat-row>
        </mat-table>
        <br><br>
        <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClass('Omega') }} kt-badge--wide">
          Omega
        </span>

        <mat-table #table5 [dataSource]="dataSource5">
          <ng-container matColumnDef="xs">
            <mat-header-cell *matHeaderCellDef> X-Small </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.xso}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="s">
            <mat-header-cell *matHeaderCellDef> Small </mat-header-cell>
            <mat-cell *matCellDef="let item">
              {{ item.so }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="m">
            <mat-header-cell *matHeaderCellDef> Medium </mat-header-cell>
            <mat-cell *matCellDef="let item">
              {{ item.mo }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="l">
            <mat-header-cell *matHeaderCellDef> Large </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.lo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="xl">
            <mat-header-cell *matHeaderCellDef> X-Large </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.xlo}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns5"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns5;"></mat-row>
        </mat-table>

      </kt-portlet-body>
    </kt-portlet>

    <!-- Meeting Points -->



  </div>
</div>