<div *ngFor="let item of items">
    <p>
        <ngb-alert [dismissible]="false" type="{{get_color(item.team)}}">
          <strong>{{ item.team }} Team</strong>
        </ngb-alert>
      </p>
  
    <div class="row">
          <div class="col-md-4" *ngFor="let subitem of item.subteam">
            
            <kt-portlet>
              <kt-portlet-header>
                  <ng-container ktPortletTitle>
                      <h3 class="kt-portlet__head-title">Team {{subitem.sub}}</h3>
                  </ng-container>
              </kt-portlet-header>
              <kt-portlet-body>
                <ul>
                      <li *ngFor="let result of subitem.data" >
                          {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                      </li>
                </ul>   
                
              </kt-portlet-body>
            </kt-portlet>
          </div>
      </div>
</div>
      
      
      <!-- <div>
          <p>
              <ngb-alert dismissible="false" type="primary">
                <strong>Alpha Team</strong>
              </ngb-alert>
            </p>
        
          <div class="row">
                <div class="col-md-4">
                  
                  <kt-portlet>
                    <kt-portlet-header>
                        <ng-container ktPortletTitle>
                            <h3 class="kt-portlet__head-title">Team 1</h3>
                        </ng-container>
                    </kt-portlet-header>
                    <kt-portlet-body>
                      <ul>
                            <li *ngFor="let result of Team_1" >
                                {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                            </li>
                      </ul>   
                      
                    </kt-portlet-body>
                  </kt-portlet>
                </div>
      
                <div class="col-md-4">
                  <kt-portlet>
                      <kt-portlet-header>
                          <ng-container ktPortletTitle>
                              <h3 class="kt-portlet__head-title">Team 2</h3>
                          </ng-container>
                      </kt-portlet-header>
                      <kt-portlet-body>
                        <ul>
                              <li *ngFor="let result of Team_2" >
                                  {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                              </li>
                        </ul>   
                      </kt-portlet-body>
                    </kt-portlet>
                </div>
                
                <div class="col-md-4">
                    <kt-portlet>
                        <kt-portlet-header>
                            <ng-container ktPortletTitle>
                                <h3 class="kt-portlet__head-title">Team 3</h3>
                            </ng-container>
                        </kt-portlet-header>
                        <kt-portlet-body>
                          <ul>
                                <li *ngFor="let result of Team_3" >
                                    {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                                </li>
                          </ul>   
                        </kt-portlet-body>
                      </kt-portlet>
                    </div>
                
                    <div class="col-md-4">
                      <kt-portlet>
                          <kt-portlet-header>
                              <ng-container ktPortletTitle>
                                  <h3 class="kt-portlet__head-title">Team 4</h3>
                              </ng-container>
                          </kt-portlet-header>
                          <kt-portlet-body>
                            <ul>
                                  <li *ngFor="let result of Team_4" >
                                      {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                                  </li>
                            </ul>   
                          </kt-portlet-body>
                        </kt-portlet>
                      </div>
                
                    <div class="col-md-4">
                      <kt-portlet>
                          <kt-portlet-header>
                              <ng-container ktPortletTitle>
                                  <h3 class="kt-portlet__head-title">Team 5</h3>
                              </ng-container>
                          </kt-portlet-header>
                          <kt-portlet-body>
                            <ul>
                                  <li *ngFor="let result of Team_5" >
                                      {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                                  </li>
                            </ul>   
                          </kt-portlet-body>
                        </kt-portlet>
                      </div>
                
                  <div class="col-md-4">
                    <kt-portlet>
                        <kt-portlet-header>
                            <ng-container ktPortletTitle>
                                <h3 class="kt-portlet__head-title">Team 6</h3>
                            </ng-container>
                        </kt-portlet-header>
                        <kt-portlet-body>
                          <ul>
                                <li *ngFor="let result of Team_6" >
                                    {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                                </li>
                          </ul>   
                        </kt-portlet-body>
                      </kt-portlet>
                    </div>

              </div>
      </div>
      
      
<div>
<p>
    <ngb-alert dismissible="false" type="success">
      <strong>Omega Team</strong>
    </ngb-alert>
  </p>

<div class="row">
      <div class="col-md-4">
        
        <kt-portlet>
          <kt-portlet-header>
              <ng-container ktPortletTitle>
                  <h3 class="kt-portlet__head-title">Team 1</h3>
              </ng-container>
          </kt-portlet-header>
          <kt-portlet-body>
            <ul>
                  <li *ngFor="let result of Team_7" >
                      {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                  </li>
            </ul>   
          </kt-portlet-body>
        </kt-portlet>
      </div>

      <div class="col-md-4">
        <kt-portlet>
            <kt-portlet-header>
                <ng-container ktPortletTitle>
                    <h3 class="kt-portlet__head-title">Team 2</h3>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body>
              <ul>
                    <li *ngFor="let result of Team_8" >
                        {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                    </li>
              </ul>   
            </kt-portlet-body>
          </kt-portlet>
      </div>
      
      <div class="col-md-4">
          <kt-portlet>
              <kt-portlet-header>
                  <ng-container ktPortletTitle>
                      <h3 class="kt-portlet__head-title">Team 3</h3>
                  </ng-container>
              </kt-portlet-header>
              <kt-portlet-body>
                <ul>
                      <li *ngFor="let result of Team_9" >
                          {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                      </li>
                </ul>   
              </kt-portlet-body>
            </kt-portlet>
          </div>
      
          <div class="col-md-4">
            <kt-portlet>
                <kt-portlet-header>
                    <ng-container ktPortletTitle>
                        <h3 class="kt-portlet__head-title">Team 4</h3>
                    </ng-container>
                </kt-portlet-header>
                <kt-portlet-body>
                  <ul>
                        <li *ngFor="let result of Team_10" >
                            {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                        </li>
                  </ul>   
                </kt-portlet-body>
              </kt-portlet>
            </div>
      
            <div class="col-md-4">
              <kt-portlet>
                  <kt-portlet-header>
                      <ng-container ktPortletTitle>
                          <h3 class="kt-portlet__head-title">Team 5</h3>
                      </ng-container>
                  </kt-portlet-header>
                  <kt-portlet-body>
                    <ul>
                          <li *ngFor="let result of Team_11" >
                              {{ result.firstName }} {{ result.middleName }} {{ result.familyName }}
                          </li>
                    </ul>   
                  </kt-portlet-body>
                </kt-portlet>
              </div>
      
              <div class="col-md-4">
                <kt-portlet>
                    <kt-portlet-header>
                        <ng-container ktPortletTitle>
                            <h3 class="kt-portlet__head-title">Team 6</h3>
                        </ng-container>
                    </kt-portlet-header>
                    <kt-portlet-body>
                      <ul>
                            <li *ngFor="let item of Team_12" >
                                {{ item.firstName }} {{ item.middleName }} {{ item.familyName }}
                            </li>
                      </ul>   
                    </kt-portlet-body>
                  </kt-portlet>
                </div>
          
              </div>
      </div>
       -->