.mat-column-actions{flex: 0 0 75px !important;}
.Alpha{background-color: #fd22eb;}
.Omega{background-color: #5867dd;}
.Male{background-color: #44c4ff;}
.Female{background-color: #fd22eb;}
/* label{
    text-align: right;
    font-weight: 500;
} */

.text-right {text-align: right !important;}
.text-left {text-align: left !important;}
.margin5{margin: 5px;}

.col-form-label {text-align: right !important;}

@media only screen and (max-width: 960px) {
    .col-form-label {text-align: left !important;}
}