<div *ngFor="let item of items">
<div class="row">
    <div class="col-lg-12">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
              <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="kt-portlet__head-text">
                Edit Admin Account
              </h3>
            </div>
          </div>
        </div>
        
    
        <form class="kt-form kt-form--label-align-right"  #f = "ngForm" (submit)="f.form.valid && onSubmit(f)">
          <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">

						<input type="hidden" id="id"  [(ngModel)]="item.id" name="id">


              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">User Name:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="User name" required [(ngModel)]="item.username" name="username">
                  </mat-form-field>
                </div>
              </div>
  
              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Email:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" required [(ngModel)]="item.email" name="email" type="email">
                  </mat-form-field>
                </div>
              </div>

            </div>
  
            <div class="kt-form__seperator kt-form__seperator--dashed"></div>
          </div>
          <div class="kt-portlet__foot">
            <div class="kt-form__actions kt-form__actions">
              <div class="row">
                <div class="col-lg-6">
                    <button mat-raised-button color="primary" type="submit"  [disabled]="f.form.invalid">Save Data</button>&nbsp;
                    <button mat-raised-button (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
<div class="row">
    <div class="col-lg-12">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
              <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="kt-portlet__head-text">
                Update Password
              </h3>
            </div>
          </div>
				</div>
				<form class="kt-form kt-form--label-align-right" #p = "ngForm" (submit)="p.form.valid && pwdUpdate(p)">

						<input type="hidden" id="id"  [(ngModel)]="item.id" name="id">

          <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">
              
              <div class="form-group kt-form__group row">
                <label class="col-lg-2 col-form-label">Password:</label>
                <div class="col-lg-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="password" type="password" required [(ngModel)] = "password" name="password">
                  </mat-form-field>
                </div>
              </div>
	
							<div class="form-group kt-form__group row">
									<label class="col-lg-2 col-form-label">Password Confirmation:</label>
									<div class="col-lg-6">
										<mat-form-field class="example-full-width">
											<input matInput placeholder="Password" required [(ngModel)]="password_confirm" name="password_confirm" type="password">
										</mat-form-field>
									</div>
								</div>

            </div>
  
            <div class="kt-form__seperator kt-form__seperator--dashed"></div>
          </div>
          <div class="kt-portlet__foot">
            <div class="kt-form__actions kt-form__actions">
              <div class="row">
                <div class="col-lg-6">
										<button mat-raised-button color="primary" type="submit"  [disabled]="p.form.invalid">Save Data</button>&nbsp;
										<button mat-raised-button (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
