<div *ngFor="let item of items">
    <div class="row">
      <div class="col-lg-12">
        <div class="kt-portlet">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-caption">
              <div class="kt-portlet__head-title">
                <span class="kt-portlet__head-icon kt-hide">
                  <i class="la la-gear"></i>
                </span>
                <h3 class="kt-portlet__head-text">
                  Edit Guardian Data
                </h3>
              </div>
            </div>
          </div>
    
          <form class="kt-form kt-form--label-align-right" #f = "ngForm"  (submit)="f.form.valid && onSubmit(f)">
            <div class="kt-portlet__body">
              <div class="kt-form__section kt-form__section--first">
                  <input type="hidden" id="id"  [(ngModel)]="item.id" name="id">
    
    
                <div class="form-group kt-form__group row">
                  <label class="col-lg-2 col-form-label">First Name:</label>
                  <div class="col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="First Name" [(ngModel)]="item.firstName" name="firstName" required>
                    </mat-form-field>
                  </div>
    
                    <label class="col-lg-2 col-form-label">Middle Name:</label>
                    <div class="col-lg-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Middle Name" [(ngModel)]="item.middleName" name="middleName" required>
                      </mat-form-field>
                    </div>
                  </div>
    
                  
                  <div class="form-group kt-form__group row">
                      <label class="col-lg-2 col-form-label">Family Name:</label>
                      <div class="col-lg-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Family Name" [(ngModel)]="item.familyName" name="familyName" required>
                        </mat-form-field>
                      </div>
                    </div>
  
    
                <div class="form-group kt-form__group row">
                  <label class="col-lg-2 col-form-label">Email:</label>
                  <div class="col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email Address" required [(ngModel)] = "item.email" type="email" name="email">
                    </mat-form-field>
                  </div>
    
                  <label class="col-lg-2 col-form-label">Mobile No:</label>
                  <div class="col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Mobile No." required [(ngModel)] = "item.mobile" name="mobile">
                    </mat-form-field>
                  </div>
                </div>

    
              </div>
    
              <div class="kt-form__seperator kt-form__seperator--dashed"></div>
            </div>
            <div class="kt-portlet__foot">
              <div class="kt-form__actions kt-form__actions">
                <div class="row">
                  <div class="col-lg-6">
                      <button mat-raised-button color="primary" type="submit"  [disabled]="f.form.invalid">Save Data</button>&nbsp;
                    <button mat-raised-button (click)="cancel()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
    
        </div>
      </div>
    </div>
    
    </div>