<div class="row">
    <div class="col-lg-12">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-caption">
            <div class="kt-portlet__head-title">
              <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="kt-portlet__head-text">
                Edit Reservation
              </h3>
            </div>
          </div>
        </div>
        <div *ngFor="let item of items">
        <form class="kt-form kt-form--label-align-right" #f = "ngForm" (submit)="f.form.valid && onSubmit(f)">
          <div class="kt-portlet__body">
            <div class="kt-form__section kt-form__section--first">

                <input type="hidden"  [(ngModel)]="item.id" name="id">
                <input type="hidden"  [(ngModel)]="item.event_id" name="event_id">


                <div class="form-group kt-form__group row">
                    <label class="col-lg-2 col-form-label">Team:</label>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-select [(ngModel)]="item.team" placeholder="Team" name="team" required>
                              <mat-option *ngFor="let opt of team" [value]="opt.key">{{ opt.value }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                  </div>

                <div class="form-group kt-form__group row">
                    <label class="col-lg-2 col-form-label">SubTeam:</label>
                    <div class="col-lg-6">
                      <mat-form-field>
                        <input matInput placeholder="Sub Team" required [(ngModel)]="item.subteam" name="subteam" type="number">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group kt-form__group row">
                      <label class="col-lg-2 col-form-label">Cabin:</label>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput placeholder="Cabin" required [(ngModel)]="item.cabin" name="cabin" type="number">
                        </mat-form-field>
                      </div>
                    </div>

                  <div class="form-group kt-form__group row">
                      <label class="col-lg-2 col-form-label">T-Shirt:</label>
                      <div class="col-lg-6">
                          <mat-form-field>
                              <mat-select [(ngModel)]="item.tshirt" placeholder="T-Shirt" name="tshirt" required>
                                <mat-option *ngFor="let opt of tshirt" [value]="opt.key">{{ opt.value }}</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                    </div>

                  <div class="form-group kt-form__group row">
                      <label class="col-lg-2 col-form-label">Meeting Point:</label>
                      <div class="col-lg-6">
                          <mat-form-field>
                              <mat-select [(ngModel)]="item.meetingPoint_id" placeholder="Meeting Point" name="meetingPoint_id" required>
                                <mat-option *ngFor="let opt of points" [value]="opt.id">{{ opt.point }}</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                    </div>

            </div>
  
            <div class="kt-form__seperator kt-form__seperator--dashed"></div>
          </div>
          <div class="kt-portlet__foot">
            <div class="kt-form__actions kt-form__actions">
              <div class="row">
                <div class="col-lg-6">
                  <button mat-raised-button color="primary" type="submit"  [disabled]="f.form.invalid">Save Data</button>&nbsp;
                  <button mat-raised-button (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
  