/* You can add global styles to this file, and also import other style files */
@import "assets/vendors/base/vendors.bundle.css";
@import "assets/custom.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";

mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 0px !important;
  }

  .mat-table,.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button,
   .mat-mini-fab, .mat-raised-button, .mat-stroked-button,.mat-tab-group, label, input {
    font-family:"Poppins", Roboto, "Helvetica Neue", sans-serif !important;
}

mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
  padding-left: 0px !important;
}
.uploadImages{
    margin-left: 10px;
    margin-top: 20px;
    width: 110px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #646c9a;
    border-radius: 4px;
    cursor: pointer;
}
.imageUploaded{
    width: 120px;
    height: 120px;
    margin-right: 30px;
        display: inline-block;
    position: relative;
}
.uploadedImages{
    margin-top: 20px;
    
}
.removeicon{
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 16px;
    background: white;
    color: black;
    width: 15px;
    text-align: center;
    line-height: 1;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}
.hovertodelete:hover .removeicon{
    display: block;
}