.example-h2 {
    margin: 10px;
  }
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 40px;
  }
.example-margin {
    margin: 0 10px;
  }

  .tab-group {
    border: 1px solid #e8e8e8;
  }
  .tab-content {
    padding: 16px;
  }
  label{
    font-weight: 700;
  }

  .addRow{
    display:inline-block;
    float: right;
  }