<div class="row">
	<div class="col-lg-12">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-caption">
					<div class="kt-portlet__head-title">
						<span class="kt-portlet__head-icon kt-hide">
							<i class="la la-gear"></i>
						</span>
						<h3 class="kt-portlet__head-text">
							New Meeting Point
						</h3>
					</div>
				</div>
			</div>
			
			<form class="kt-form kt-form--label-align-right"  #f = "ngForm" (submit)="f.form.valid && onSubmit(f)">
					<div class="kt-portlet__body">
					<div class="kt-form__section kt-form__section--first">
						<div class="form-group kt-form__group row">
							<label class="col-lg-2 col-form-label">Point Name:</label>
							<div class="col-lg-6">
								<mat-form-field class="example-full-width">
									<input matInput placeholder="Point name" [(ngModel)]="point" name="point" required>
								</mat-form-field>
							</div>
						</div>

						<div class="form-group kt-form__group row">
							<label class="col-lg-2 col-form-label">Address:</label>
							<div class="col-lg-6">
								<mat-form-field class="example-full-width">
									<input matInput placeholder="Address" [(ngModel)]="address" name="address" required>
								</mat-form-field>
							</div>
						</div>

						<div class="form-group kt-form__group row">
								<label class="col-lg-2 col-form-label">Area:</label>
								<div class="col-lg-6">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Area" [(ngModel)]="area" name="area" required>
									</mat-form-field>
								</div>
							</div>

							<div class="form-group kt-form__group row">
									<label class="col-lg-2 col-form-label">Location:</label>
									<div class="col-lg-6">
										<mat-form-field class="example-full-width">
											<input matInput placeholder="Location" [(ngModel)]="location" name="location" required>
										</mat-form-field>
									</div>
								</div>
									<input type="hidden" name="created_by" value="">
									<input type="hidden" name="updated_by" value="">
					</div>

					<div class="kt-form__seperator kt-form__seperator--dashed"></div>
				</div>
				<div class="kt-portlet__foot">
					<div class="kt-form__actions kt-form__actions">
						<div class="row">
							<div class="col-lg-6">
									<button mat-raised-button color="primary" type="submit"  [disabled]="f.form.invalid">Save Data</button>&nbsp;
								<button mat-raised-button type="button" (click)="cancel()">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
